<!-- Client Views -->
<div *ngIf="project && roleView === 'CLIENT'">
  <div 
    *ngIf="project.status === 'CONCEPTS' && concepts"
    class="collection-box"
  >
    <h1>HANG TIGHT</h1>
    <p>Your designer is hard at work putting together the Floor Plan of your room!</p>
  </div>
  <div
    *ngIf="(items | json) == '{}' && floorplan"
    class="collection-box"
  >
    <h1>YOUR COLLECTION</h1>
    <p>Please wait for your designer to add furniture items to the floorplan before you approve or request alternatives.</p>
  </div>
  <div
    *ngIf="project.status !== 'REQUEST_ALTERNATIVES' && (items | json) != '{}'"
    class="collection-box"
  >
    <h1>YOUR COLLECTION</h1>
    <p>Review your furnishings and note the items that you would like to see alternatives from your designer. Happy with the collection? Go ahead and approve all!</p>
    <button ion-button type="button" (click)="onApprove.emit()">APPROVE & SUBMIT</button>
  </div>
  <div
    *ngIf="project.status === 'REQUEST_ALTERNATIVES'"
    class="collection-box"  
  >
    <h1>ALTERNATES REQUESTED</h1>
    <p>Please wait for your designer to submit alternatives for the items you requested.</p>
    <button ion-button type="button" disabled>APPROVE & SUBMIT</button>
  </div>
  <div
    *ngIf="itemsView === 'APPROVED' && items.approved"
    class="collection-box"
  >
    <h1>APPROVED ITEMS</h1>
    <p>Below are the items approved from the previous stage. These items can be further discussed with your designer if needed.</p>
  </div>
</div>

<!-- Designer Views -->
<div *ngIf="project && roleView === 'DESIGNER'">
  <div
    *ngIf="(items | json) == '{}' && floorplan"
    class="collection-box"
  >
    <h1>{{ project.room | readableRoom }} COLLECTION</h1>
    <p>Add furniture to fill the space. Double tap at a location on the floorplan to add a new item.</p>
  </div>
  <div
    *ngIf="items.pending && project.status === 'CONCEPTS' && project.status !== 'FLOOR_PLAN' && itemsView === 'PENDING'"
    class="collection-box"
  >
    <h1>{{ project.room | readableRoom }} COLLECTION</h1>
    <p>Continue adding furniture to fill the space. When you're satisfied with the collection, go ahead and submit it to your client.</p>
    <button ion-button type="button" (click)="onSubmit.emit()">SUBMIT COLLECTION</button>
  </div>
  <div
    *ngIf="items.pending && project.status === 'REQUEST_ALTERNATIVES' && itemsView === 'PENDING'"
    class="collection-box"
  >
    <h1>ALTERNATES REQUESTED:</h1>
    <p>Review the items below. Your client wants to see alternatives furniture for them. When you're satisfied with the collection, go ahead and submit it to your client.</p>
    <button ion-button type="button" (click)="onSubmit.emit()">SUBMIT ALTERNATIVES</button>
  </div>
  <div
    *ngIf="items.pending && project.status === 'ALTERNATIVES_READY' && itemsView === 'PENDING'"
    class="collection-box"
  >
    <h1>ALTERNATES READY</h1>
    <p>Please wait for your client to approve alternatives for the items you submitted.</p>
    <button ion-button type="button" disabled>SUBMIT ALTERNATIVES</button>
  </div>
  <div
    *ngIf="items.modified && project.status === 'REQUEST_ALTERNATIVES' && itemsView === 'MODIFIED'"
    class="collection-box"
  >
    <h1>MODIFIED ITEMS:</h1>
    <p>Review the items below and submit to your client when ready.</p>
    <button ion-button type="button" (click)="onSubmit.emit()">SUBMIT COLLECTION</button>
  </div>
  <div
    *ngIf="items.modified && project.status === 'ALTERNATIVES_READY' && itemsView === 'MODIFIED'"
    class="collection-box"
  >
    <h1>MODIFIED ITEMS:</h1>
    <p>Please wait for your client to approve the items you submitted.</p>
    <button ion-button type="button" disabled>SUBMIT COLLECTION</button>
  </div>
  <div
    *ngIf="items.approved && itemsView === 'APPROVED'"
    class="collection-box"
  >
    <h1>APPROVED ITEMS</h1>
    <p>The client has already approved the following items:</p>
    <button *ngIf="project.status === 'REQUEST_ALTERNATIVES'" ion-button type="button" (click)="onSubmit.emit()">SUBMIT ALTERNATIVES</button>
  </div>
</div>