page-login {
  .scroll-content {
    background-color: #1b1b1b;
  }
  .center {
    background-color: #fff;
    padding: 40px 30px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    max-width: 300px;
    margin: auto;
    .logo {
      width: 60px;
      filter: brightness(0.1);
      margin-bottom: 10px;
    }
  }
  ion-input {
    background-color: color($colors, light);
    margin-bottom: 10px;
  }
  button {
    width: 100%;
  }
  .auth {
    background-color: #000 !important;
  }
  .toggle {
    margin-top: 10px !important;
    background-color: #fff !important;
    border: 2px solid color($colors, primary);
    color: color($colors, primary);
  }
  .facebook {
    margin-top: 10px !important;
    background-color: #3b5998 !important;
  }
}