<ion-content>
   <div class="header">
     <img *ngIf="user" [src]="user.photoURL">
     <img *ngIf="!user" src="assets/user-placeholder.png">
     <h4 *ngIf="user">
      {{ user.firstName }} {{ user.lastName }}
     </h4>
     <p *ngIf="user">
      {{ user.emailAddress }}
     </p>
     <h4 *ngIf="!user">
      User
     </h4>
     <p *ngIf="!user">
      user@email.com
     </p>
     <button ion-button full>
       VIEW PROFILE
     </button>
   </div>
   <a>ALL PROJECTS</a>
   <a>NEW PROJECT</a>
   <a (click)="logout()">LOGOUT</a>
</ion-content>