.navbar {
  z-index: 1 !important;
}

chat.minimized {
  @media only screen and (max-width: 700px) {
    position: absolute;
    width: 0px;
    height: 0px;
  }
}

chat {
  @media only screen and (min-width: 700px) {
    position: absolute;
    right: 15px;
    bottom: 0;
    width: 325px;
    box-shadow: 0px 1px 6px rgba(112, 93, 93, 0.3);
  }
  @media only screen and (max-width: 700px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 1000;
  }
  .header-minimized {
    top: calc(100% - 60px) !important;
    .toolbar-background {
      background-color: color($colors, dark) !important;
    }
    @media only screen and (max-width: 700px) {
      display: none;
    }
    .chat-img {
      filter: brightness(100);
    }
    .chat-title {
      .toolbar-title {
        color: #fff;
      }
    }
    .chat-minimize {
      transform: rotate(180deg);
      filter: brightness(100);
    }
  }
  .header-maximized {
    z-index: 1000;
    border-bottom: 1px solid color($colors, light);
    .chat-title {
      .toolbar-title {
        color: color($colors, primary) !important;
      }
    }
  }
  .content-minimized {
    display: none;
  }
  .content-maximized {
    @media only screen and (min-width: 700px) {
      height: 600px;
      max-height: 55vh;
    }
  }
  .scroll-content,
  .fixed-content {
    background-color: #fff !important;
    z-index: 500;
  }
  .toolbar-title {
    text-transform: capitalize;
    font-weight: 500;
  }
  .toolbar-background {
    background-color: #fff !important;
  }
  .toolbar-content {
    img {
      width: 45px;
      float: left;
      margin: auto;
      padding-left: 15px;
    }
  }
  .exit {
    .chat-exit {
      display: none;
    }
    @media only screen and (min-width: 700px) {
      background-color: unset;
      box-shadow: unset;
      width: 40px !important;
      height: 40px !important;
    }
    @media only screen and (max-width: 700px) {
      top: 0px;
      right: 8px;
      width: 50px !important;
      height: 50px !important;
      border-radius: 50% !important;
      background-color: #3D3C40;
      img {
        width: 20px;
      }
      .chat-exit {
        display: block;
      }
      .chat-minimize {
        display: none;
      }
    }
  }
  .item {
    border-bottom: 0px;
    padding: 0;
    .item-inner {
      padding: 0 !important;
    }
    .label {
      margin: 0;
    }
  }
  .alert-text {
    max-width: 75%;
    text-align: center;
    margin: 0;
    color: color($colors, primary);
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-75%);
    margin: auto;
  }
  .message-header {
    padding: 20px 10px 10px;
    img {
      object-fit: cover;
      float: left;
      width: 44px;
      height: 44px;
      border-radius: 5px;
    }
    h4 {
      display: inline-block;
      margin: 0px 0px 0px 10px;
      font-weight: 600;
    }
    p {
      display: inline-block;
    }
  }
  .message-bubble {
    height: 100%;
    display: inline-block;
    position: relative;
    padding: 0px 12px;
    max-width: 80%;
  }
  .img-bubble {
    height: 100%;
    display: inline-block;
    position: relative;
    padding: 0px 12px;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .message {
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-weight: 600;
  }
  .input-cover {
    position: static;
  }
  .chat-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    height: 80px;
    padding: 10px;
    box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.15);
    input[type="file"] {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70px;
      height: 70px;
    }
    .attach {
      float: left;
      height: 60px !important;
      width: 60px;
      background: #fff;
      padding: 0px;
      margin: 0px;
      border: 2px solid #E0E0E0;
      img {
        object-fit: contain;
        padding: 17px;
        height: 100%;
        color: #fff;
      }
    }
    .attach:hover {
      border-color: #B8B9C0;
      img {
        filter: brightness(25%);
      }
    }
    .chat-message {
      float: left;
      width: calc(100% - 120px);
      position: relative;
      ion-textarea {
        box-sizing: border-box;
        border: 2px solid #E0E0E0;
        border-left: 0px;
        border-right: 0px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .text-input {
        font-size: 16px;
        height: 56px;
        width: 100%;
        padding: 20px 10px;
        margin: 0px;
        resize: none;
      }
    }
    .send {
      float: right;
      height: 60px !important;
      width: 60px;
      background-color: #fff !important;
      color: #B8B9C0;
      padding: 0px;
      margin: 0px;
      border: 2px solid #E0E0E0;
    }
    .send:hover {
      border-color: #B8B9C0;
      color: color($colors, primary);
    }
  }
}

.button-md {
  box-shadow: none;
}