page-alternatives {
  .input {
    border: 1px solid #C3C3C3;
    background-color: #F8F5F5;
    margin: 10px 0px;
  }
  .button {
    margin: 5px 0px !important;
  }
  p {
    font-size: 12px;
    text-align: center;
    margin: 0px 0px 10px;
  }
  h3 {
    margin: 10px 0px !important;
  }
}
