page-final-delivery {
  .toolbar-title {
    @media only screen and (max-width: 700px) {
      font-size: 16px !important;
      .page {
        display: block;
        font-size: 14px !important;
      }
    }
    font-size: 26px;
    .page {
      font-size: 16px;
    }
  }
  .fixed-content {
    background-color: color($colors, secondary);
  }
  .sub-nav {
    padding: 10px 15px;
    position: relative;
    background-color: color($colors, primary);
    .button {
      position: relative;
      width: 100%;
      border: 1px solid #fff;
      color: #fff !important;
      .button-inner {
        justify-content: left;
      }
      img {
        position: absolute;
        top: 15px;
        right: 15px;
        margin: auto;
      }
    }
    img {
      width: 15px;
      margin: 10px;
    }
    .menu {
      padding: 15px 0px 0px;
      margin: auto;
      width: 75%;
      @media only screen and (min-width: 700px) {
        display: table;
      }
      table-layout: fixed;
      div {
        display: table-cell;
      }
      a {
        display: inline-block;
        width: 95%;
        height: 25px;
        margin: auto;
        text-align: center;
        color: #fff;
        border-bottom: 2px solid rgba(255,255,255,0.5);
      }
      .active {
        border-bottom: 2px solid #fff;
      }
    }
  }

  // Remove padding for chat space from collab-workzone when minimized on desktop
  .maximized {
    @media only screen and (min-width: 700px) {
      padding-right: 5px !important;
    }
  }
  .collab-final-delivery {
    position: relative;
    background-image: url('../assets/constructor_bg.png');
    background-repeat: repeat;
    background-size: cover;
    padding: 5px;
    @media only screen and (max-width: 700px) {
      padding-top: 50px;
    }
    @media only screen and (min-width: 700px) {
      padding-left: 95px;
      padding-right: 346px;
      min-height: 500px;
    }
    .chat-fab {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 45px !important;
      height: 45px !important;
      border-radius: 50% !important;
      img {
        object-fit: contain;
        width: 17.5px;
        height: 17.5px;
      }
    }
    .designer-note {
      @media only screen and (min-width: 700px) {
        max-width: 500px;
        margin: 50px auto;
      }
      text-align: center;
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      .note {
        font-weight: 600;
        color: #C3C3C3;
      }
    }
  }
  .footer {
    background-color: #fff;
    padding: 20px;
    .footer-dropdown {
      position: relative;
      background-color: #fff;
      color: color($colors, primary);
      border: 0.5px solid color($colors, primary);
      .button-inner {
        justify-content: left;
      }
      img {
        filter: brightness(0.1);
        position: absolute;
        top: 15px;
        right: 15px;
        margin: auto;
        width: 15px;
      }
    }
  }
}

.chat-header {
  z-index: 11;
  position: absolute;
  right: 15px;
  top: 20vh;
  width: 325px;
  height: 60px;
  background-color: #fff;
  .chat-img {
    margin: 15px 12.5px 0px 20px;
    float: left;
    width: 30px;
  }
  .chat-title {
    color: color($colors, primary);
    font-size: 20px;
    margin-top: 15px;
  }
  .chat-minimize {
    position: absolute;
    top: 22.5px;
    right: 15px;
    width: 19px;
  }
}
.header-minimized {
  background-color: color($colors, dark);
  box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
  .chat-img {
    filter: brightness(100);
  }
  .chat-title {
    color: #fff;
  }
  .chat-minimize {
    transform: rotate(180deg);
    filter: brightness(100);
  }
  top: calc(100% - 60px) !important;
}
.header-maximized {
  @media only screen and (max-width: 700px) {
    z-index: 101;
    display: block;
    position: fixed;
    top: 0px !important;
    right: 0px;
    width: 80px;
    overflow: hidden;
    opacity: 0;
  }
}
.chat-wrapper {
  z-index: 2;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 325px;
  height: 80vh;
}
.wrapper-minimized {
  display: none;
}
// Full screen chat component on mobile
.wrapper-maximized {
  @media only screen and (max-width: 700px) {
    box-shadow: none;
    display: block;
    z-index: 100;
    position: fixed;
    box-sizing: content-box;
    border-top: 20px solid #000;
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
  }
}