<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="homePressed()">
        <img style="width:54px;margin:5px;" src="assets/logo.png">
      </button>
    </ion-buttons>
    <ion-title><span *ngIf="client">{{ client.firstName }}'s </span><span *ngIf="project">{{ types[project.projectType] }} Project: </span><span class="page">Design Studio</span></ion-title>
    <ion-buttons end>
      <button class="avatar" ion-button menuToggle>
        <img *ngIf="user && user.photoURL" [src]="user.photoURL">
        <img *ngIf="!user || !user.photoURL" src="assets/tmh.png">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-nav">
    <div class="desktop menu">
      <div><a (click)="selectTabLink('DETAILS')">1. DETAILS</a></div>
      <div><a (click)="selectTabLink('DESIGN')">2. DESIGN</a></div>
      <div><a class="active">3. FINAL DELIVERY</a></div>
    </div>
    <button class="mobile" ion-button type="button" (click)="selectTab()" full>
      3. FINAL DELIVERY
      <img src="assets/down.png">
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="collab-final-delivery">
    <button class="chat-fab mobile" ion-fab (click)="maximizeChat()">
      <img src="assets/chats.png">
    </button>
    <div class="designer-note">
      <h4 *ngIf="client">Hi {{ client.firstName }}!</h4>
      {{ project.designerNote }}
    </div>
  </div>
  <div class="footer">
    <button class="mobile footer-dropdown" ion-button type="button" (click)="selectFooterTab()" full>
      DESIGNER NOTE
      <img src="assets/down.png">
    </button>
  </div>
</ion-content>

<div class="chat-header desktop" [class.header-minimized]="minimized" [class.header-maximized]="maximized" (click)="chatToggled()">
  <img class="chat-img" src="assets/chat.png">
  <h2 class="chat-title">Chat</h2>
  <img class="chat-minimize" src="assets/down-arrow.png">
</div>
<page-chat [project]="project" [class.wrapper-minimized]="minimized" [class.wrapper-maximized]="maximized" class="chat-wrapper desktop"></page-chat>