page-final-delivery {
  .toolbar-title {
    @media only screen and (max-width: 700px) {
      font-size: 16px !important;
      .page {
        display: block;
        font-size: 14px !important;
      }
    }
    font-size: 26px;
    .page {
      font-size: 16px;
    }
  }
  .fixed-content {
    background-color: color($colors, secondary);
  }
  .sub-nav {
    padding: 10px 15px;
    position: relative;
    background-color: color($colors, primary);
    .button {
      position: relative;
      width: 100%;
      border: 1px solid #fff;
      color: #fff !important;
      .button-inner {
        justify-content: left;
      }
      img {
        position: absolute;
        top: 15px;
        right: 15px;
        margin: auto;
      }
    }
    img {
      width: 15px;
      margin: 10px;
    }
    .menu {
      padding: 15px 0px 0px;
      margin: auto;
      width: 75%;
      @media only screen and (min-width: 700px) {
        display: table;
      }
      table-layout: fixed;
      div {
        display: table-cell;
      }
      a {
        display: inline-block;
        width: 95%;
        height: 25px;
        margin: auto;
        text-align: center;
        color: #fff;
        border-bottom: 2px solid rgba(255,255,255,0.5);
      }
      .active {
        border-bottom: 2px solid #fff;
      }
    }
  }

  // Remove padding for chat space from collab-workzone when minimized on desktop
  .maximized {
    @media only screen and (min-width: 700px) {
      padding-right: 5px !important;
    }
  }
  .collab-final-delivery {
    position: relative;
    padding: 5px;
    padding-bottom: 80px;
    @media only screen and (max-width: 700px) {
      padding-top: 50px;
    }
    @media only screen and (min-width: 700px) {
      min-height: 500px;
    }
    .admin-segment {
      z-index: 1000;
      @media only screen and (max-width: 700px) {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      width: 200px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      border-radius: 2px;
    }
    .chat-fab {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 45px !important;
      height: 45px !important;
      border-radius: 50% !important;
      img {
        object-fit: contain;
        width: 17.5px;
        height: 17.5px;
      }
    }
    .collab-alert {
      @media only screen and (min-width: 700px) {
        max-width: 500px;
        margin: 50px auto;
      }
      text-align: center;
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      .note {
        font-weight: 600;
        color: #C3C3C3;
      }
    }
    .collab-image {
      margin: 10px 10px 20px;
      text-align: center;
      .selected-img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        object-fit: contain;
        border: 5px solid color($colors, primary);
      }
      .collab-thumb-wrapper {
        position: relative;
        display: table;
        table-layout: fixed;
        margin: auto;
        .collab-thumb {
          position: relative;
          display: table-cell;
          .thumb-img {
            background-color: #fff;
            margin: 10px;
            display: inline-block;
            width: 75px;
            height: 75px;
            object-fit: cover;
          }
          .active {
            border: 5px solid color($colors, primary);
          }
          .delete {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
      }
      .button {
        max-width: 300px;
      }
    }
    .designer-note {
      @media only screen and (min-width: 700px) {
        max-width: 500px;
        margin: 50px auto;
      }
      h6 {
        border-bottom: 2px solid #D8D8D8;
        text-align: left;
      }
      textarea {
        margin: 10px 0;
        resize: none;
        min-height: 200px;
        width: 100%;
        background-color: #F8F5F5;
        padding: 10px;
      }
      text-align: center;
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      .note {
        font-weight: 600;
        color: #C3C3C3;
      }
      .button {
        width: 150px;
      }
    }
    .final-video {
      margin: 10px;
      .form {
        box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
        background-color: #fff;
        padding: 20px 20px 60px;
        @media only screen and (min-width: 700px) {
          max-width: 500px;
          margin: 50px auto;
        }
        .input {
          height: 50px;
          line-height: 25px;
          background-color: #F8F5F5;
          margin: 20px 0;
        }
        .button {
          float: right;
        }
      }
    }
  }
  .footer {
    box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    @media only screen and (max-width: 700px) {
      padding: 20px;
    }
    .footer-menu {
      .button {
        position: relative;
        width: 13.9%;
        padding: 68px 0 8px;
        color: #414141;
        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 20px;
          left: 0;
          margin: auto;
          max-width: 40px;
        }
      }
      .button:hover {
        background-color: color($colors, primary);
        color: #fff;
        img {
          filter: brightness(100);
        }
      }
    }
    .footer-dropdown {
      position: relative;
      background-color: #fff;
      color: color($colors, primary);
      border: 0.5px solid color($colors, primary);
      .button-inner {
        justify-content: left;
      }
      img {
        filter: brightness(0.1);
        position: absolute;
        top: 15px;
        right: 15px;
        margin: auto;
        width: 15px;
      }
    }
    .footer-dropdown:hover {
      background-color: #fff;
    }
  }
}