<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="homePressed()">
        <img style="width:54px;margin:5px;" src="assets/logo.png">
      </button>
    </ion-buttons>
    <ion-title><span *ngIf="project">{{ project.client.first_name }}'s </span><span *ngIf="project">{{ this.projectService.types[project.room] }} Project: </span><span class="page">Design Studio</span></ion-title>
    <ion-buttons end>
      <button class="avatar" ion-button menuToggle>
        <img *ngIf="user && user.image" [src]="user.image">
        <img *ngIf="!user || !user.image" src="assets/user-placeholder.png">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-nav">
    <div class="desktop menu">
      <div><a (click)="selectTabLink('DETAILS')">1. DETAILS</a></div>
      <div><a (click)="selectTabLink('DESIGN')">2. DESIGN</a></div>
      <div><a class="active">3. FINAL DELIVERY</a></div>
    </div>
    <button class="mobile" ion-button type="button" (click)="selectTab()" full>
      3. FINAL DELIVERY
      <img src="assets/down.png">
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="collab-final-delivery" *ngIf="project">
    <ion-segment *ngIf="user.is_staff && project.status == 'SHOPPING_CART' || project.status == 'ESTIMATE_SHIPPING_AND_TAX' || project.status == 'ARCHIVED'" [(ngModel)]="viewMode" class="admin-segment">
      <ion-segment-button value="CLIENT">
        CLIENT
      </ion-segment-button>
      <ion-segment-button value="DESIGNER">
        DESIGNER
      </ion-segment-button>
    </ion-segment>
    <button class="chat-fab mobile" ion-fab (click)="maximizeChat()">
      <img src="assets/chats.png">
    </button>
    <div *ngIf="view == 'DESIGNER_NOTE' && viewMode == 'CLIENT'" class="designer-note">
      <h4 *ngIf="client">Hi {{ client.firstName }}!</h4>
      <p *ngIf="project.designer_note != ''">{{ project.designer_note }}</p>
      <p *ngIf="project.designer_note == ''">Your designer is hard at work putting together the Final Delivery of your room! It will be uploaded within the next 48-72 hours!</p>
    </div>
    <div *ngIf="view == 'DESIGNER_NOTE' && viewMode == 'DESIGNER'" class="designer-note">
      <h6>Leave a kind note for your client.</h6>
      <ion-textarea [(ngModel)]="designerNote" name="designer-note"></ion-textarea>
      <button ion-button type="button" (click)="saveDesignerNote()">SAVE</button>
    </div>
    <div *ngIf="view == 'FLOOR_PLAN' && viewMode == 'CLIENT'" class="collab-image">
      <img class="selected-img" [src]="floorplan.url">
    </div>
    <div *ngIf="view == 'FLOOR_PLAN' && floorplan && viewMode == 'DESIGNER'" class="collab-image">
      <img class="selected-img" [src]="floorplan.url">
      <button ion-button type="button" (click)="uploadFloorPlan()">UPLOAD NEW</button>
    </div>
    <div *ngIf="view == 'FLOOR_PLAN' && !floorplan && viewMode == 'DESIGNER'" class="collab-alert">
      <h1>UPLOAD FINAL FLOOR PLAN</h1>
      <p>Send your client a final image of their Floor Plan.</p>
      <button ion-button type="button" (click)="uploadFloorPlan()">UPLOAD</button>
    </div>
    <div *ngIf="view == 'CONCEPT_BOARD' && viewMode == 'CLIENT'" class="collab-image">
      <img class="selected-img" [src]="conceptboard.url">
    </div>
    <div *ngIf="view == 'CONCEPT_BOARD' && conceptboard && viewMode == 'DESIGNER'" class="collab-image">
      <img class="selected-img" [src]="conceptboard.url">
      <button ion-button type="button" (click)="uploadConceptBoard()">UPLOAD NEW</button>
    </div>
    <div *ngIf="view == 'CONCEPT_BOARD' && !conceptboard && viewMode == 'DESIGNER'" class="collab-alert">
      <h1>UPLOAD FINAL CONCEPT BOARD</h1>
      <p>Send your client a final image of their Concept Board.</p>
      <button ion-button type="button" (click)="uploadConceptBoard()">UPLOAD</button>
    </div>
    <div *ngIf="view == '3D_MODEL' && viewMode == 'CLIENT'" class="final-video">
      <video *ngIf="project.video_url != ''" controls><source src="{{ project.video_url }}"></video>
    </div>
    <div *ngIf="view == '3D_MODEL' && viewMode == 'DESIGNER'" class="final-video">
      <video *ngIf="project.video_url != ''" controls><source src="{{ project.video_url }}"></video>
      <div class="form">
        <h1>Link Final 3D Model Video</h1>
        <ion-input [(ngModel)]="videoUrl" name="video-url" placeholder="PASTE LINK HERE"></ion-input>
        <button ion-button type="button" (click)="saveVideoUrl()">SAVE</button>
      </div>
    </div>
    <div *ngIf="view == 'SNAPSHOTS' && viewMode == 'CLIENT'" class="snapshots">
      <ion-slides class="mobile">
        <ion-slide *ngFor="let snapshot of snapshots" autoplay="2000">
          <img [src]="snapshot.url">
        </ion-slide>
      </ion-slides>
      <ion-slides class="desktop" slidesPerView="3" spaceBetween="20" autoplay="2000">
        <ion-slide *ngFor="let snapshot of snapshots">
          <img [src]="snapshot.url">
        </ion-slide>
      </ion-slides>
    </div>
    <div *ngIf="view == 'SNAPSHOTS' && viewMode == 'DESIGNER'" class="snapshots">
      <ion-slides class="mobile">
        <ion-slide *ngFor="let snapshot of snapshots" autoplay="2000">
          <img [src]="snapshot.url">
        </ion-slide>
      </ion-slides>
      <ion-slides class="desktop" slidesPerView="3" spaceBetween="20" autoplay="2000">
        <ion-slide *ngFor="let snapshot of snapshots">
          <img [src]="snapshot.url">
        </ion-slide>
      </ion-slides>
      <div class="collab-alert">
        <h1>UPLOAD FINAL SNAPSHOTS</h1>
        <p class="note">( 6 Picture Limit)</p>
        <button (click)="uploadSnapshot()" ion-button full type="button">UPLOAD</button>
      </div>
    </div>
    <div *ngIf="view == 'FINAL_NOTES' && viewMode == 'CLIENT'" class="designer-note">
      <h1>FINAL NOTES</h1>
      <p *ngIf="project.final_note != ''">{{ project.final_note }}</p>
    </div>
    <div *ngIf="view == 'FINAL_NOTES' && viewMode == 'DESIGNER'" class="designer-note">
      <h6>Leave detailed notes about the design.</h6>
      <ion-textarea [(ngModel)]="finalNote" name="final-note"></ion-textarea>
      <button ion-button type="button" (click)="saveFinalNote()">SAVE</button>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="project">
  <div class="footer" *ngIf="viewMode == 'CLIENT' && project.status == 'SHOPPING_CART' || project.status == 'ESTIMATE_SHIPPING_AND_TAX' || project.status == 'ARCHIVED'">
    <div class="desktop footer-menu">
      <div class="button" (click)="selectFooterTabLink('DESIGNER_NOTE')">
        <img src="assets/list.png">
        Designer Note
      </div>
      <div class="button" (click)="selectFooterTabLink('FLOOR_PLAN')">
        <img src="assets/floor-plan.png">
        Floor Plan
      </div>
      <div class="button" (click)="selectFooterTabLink('CONCEPT_BOARD')">
        <img src="assets/concept.png">
        Concept Board
      </div>
      <div class="button" (click)="selectFooterTabLink('3D_MODEL')">
        <img src="assets/3d-model.png">
        3D Model
      </div>
      <div class="button" (click)="selectFooterTabLink('SNAPSHOTS')">
        <img src="assets/snapshot.png">
        Snapshots
      </div>
      <div class="button" (click)="selectFooterTabLink('FINAL_NOTES')">
        <img src="assets/note.png">
        Final Notes
      </div>
      <div class="button" (click)="selectFooterTabLink('SHOPPING_CART')">
        <img src="assets/cart.png">
        Shopping Cart
      </div>
    </div>
    <button class="mobile footer-dropdown" ion-button type="button" (click)="selectFooterTab()" full>
      {{ stringForView(this.view) }}
      <img src="assets/down.png">
    </button>
  </div>
  <div class="footer" *ngIf="viewMode == 'DESIGNER'">
    <div class="desktop footer-menu">
      <div class="button" (click)="selectFooterTabLink('DESIGNER_NOTE')">
        <img src="assets/list.png">
        Designer Note
      </div>
      <div class="button" (click)="selectFooterTabLink('FLOOR_PLAN')">
        <img src="assets/floor-plan.png">
        Floor Plan
      </div>
      <div class="button" (click)="selectFooterTabLink('CONCEPT_BOARD')">
        <img src="assets/concept.png">
        Concept Board
      </div>
      <div class="button" (click)="selectFooterTabLink('3D_MODEL')">
        <img src="assets/3d-model.png">
        3D Model
      </div>
      <div class="button" (click)="selectFooterTabLink('SNAPSHOTS')">
        <img src="assets/snapshot.png">
        Snapshots
      </div>
      <div class="button" (click)="selectFooterTabLink('FINAL_NOTES')">
        <img src="assets/note.png">
        Final Notes
      </div>
      <div class="button" (click)="selectFooterTabLink('SHOPPING_CART')">
        <img src="assets/cart.png">
        Shopping Cart
      </div>
    </div>
    <button class="mobile footer-dropdown" ion-button type="button" (click)="selectFooterTab()" full>
      {{ stringForView(this.view) }}
      <img src="assets/down.png">
    </button>
  </div>
</ion-footer>
