<ion-header>
  <navbar
    [title]="'Dashboard'"
    [tabs]="['IN_PROGRESS', 'COMPLETED']"
    [selectedTab]="selectedTab"
    [user]="user"
    (onHomePressed)="homePressed()"
    (onSelectTab)="selectTabLink($event)"
    (onSelectDropdown)="selectTab()"
  ></navbar>
</ion-header>

<ion-content padding>

  <div class="dashboard-header desktop">
    <div class="section type">
      <img src="assets/BEDROOM.png">
    </div>
    <div class="section">
      <p class="info">Client Name</p>
    </div>
    <div class="section">
      <p class="info">Project Type</p>
    </div>
    <div class="section">
      <p class="info">Last Edited</p>
    </div>
    <div class="section">
      <p class="info">Status</p>
    </div>
    <div class="section">
      <p class="info">Time Left</p>
    </div>
    <div class="section">
      <p class="info">Messages</p>
    </div>
  </div>

  <ion-list>

    <ion-item text-center class="no-projects" *ngIf="tab == 'IN_PROGRESS' && !projects && roleView == 'CLIENT'">
      <h2>We welcome you<span *ngIf="user">, {{ user.firstName }}</span>.</h2>
      <p>You have not started a project yet. We encourage you to start a new one.
      <button ion-button (click)="startProject()" full>START NEW PROJECT</button>
    </ion-item>

    <ion-item text-center class="no-projects" *ngIf="tab == 'COMPLETED' && !projects && roleView == 'CLIENT'">
      <h2>Oops.</h2>
      <p>Looks like you have not finished a project yet. If you haven't already, you can start a new project at any time.</p>
      <button ion-button (click)="startProject()" full>START NEW PROJECT</button>
    </ion-item>

    <ion-item text-center class="no-projects" *ngIf="!projects && roleView == 'DESIGNER'">
      <h2>HANG TIGHT</h2>
      <p>We are working hard to connect you with the right clients for you. Check back soon for assigned projects.</p>
    </ion-item>

    <ion-item class="project" *ngFor="let project of projects" (click)="selectedProject(project)">
      <div class="mobile">
        <div class="header">
          <div class="type" item-left>
            <img src="assets/{{ project.room }}.png">
          </div>
          <div class="chat" item-right>
            <img src="assets/chat.png">
          </div>
        </div>
        <div class="details">
          <p class="title">
            <b>
            {{ project.client.first_name }}  {{ project.client.last_name[0] }} - {{ project.room | readableRoom }} Project
            </b>
          </p>
          <div class="section">
            <p class="info">{{ project.modified_date | date:"MM/dd/yy" }}</p>
            <p class="sub-title">Edited</p>
          </div>
          <div class="section">
            <p class="info">{{ this.projectService.statuses[project.status] }}</p>
            <p class="sub-title">Phase</p>
          </div>
          <div class="section">
            <p class="info">{{ project.end_date | daysLeft }}</p>
            <p class="sub-title">Days Left</p>
          </div>
        </div>
      </div>
      <div class="desktop">
        <div class="section type">
          <img src="assets/{{ project.room }}.png">
        </div>
        <div class="section">
          <p class="info">{{ project.client.first_name }} {{ project.client.last_name[0] }}</p>
        </div>
        <div class="section">
          <p class="info">{{ project.room | readableRoom }}</p>
        </div>
        <div class="section">
          <p class="info">{{ project.modified_date | date:"MM/dd/yy" }}</p>
        </div>
        <div class="section">
          <p class="info">{{ this.projectService.statuses[project.status] }}</p>
        </div>
        <div class="section">
          <p class="info">{{ project.end_date | daysLeft }}</p>
        </div>
        <div class="section chat">
          <img src="assets/chat.png">
        </div>
      </div>
    </ion-item>
  
  </ion-list>
</ion-content>