<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="homePressed()">
        <img style="width:54px;margin:5px;" src="assets/logo.png">
      </button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
      <button ion-button (click)="toggleDropdown()">
        <img style="width:30px;border-radius:5px;" src="assets/tmh.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <div class="avatar" item-left>
          <img src="assets/tmh.png">
      </div>
      <span *ngIf="user">{{ user.firstName }}'s </span>Project 1
    </ion-item>
    <ion-item>
      <div class="avatar" item-left>
          <img src="assets/tmh.png">
      </div>
      <span *ngIf="user">{{ user.firstName }}'s </span>Project 2
    </ion-item>
  </ion-list>
</ion-content>