<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="homePressed()">
        <img style="width:54px;margin:5px;" src="assets/logo.png">
      </button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
      <button class="avatar" ion-button  menuToggle>
        <img *ngIf="user && user.photoURL" [src]="user.photoURL">
        <img *ngIf="!user || !user.photoURL" src="assets/tmh.png">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-nav">
    <div class="desktop menu">
      <div><a [class.active]="tab == 'IN_PROGRESS'" (click)="selectedTabLink('IN_PROGRESS')">IN PROGRESS</a></div>
      <div><a [class.active]="tab == 'UP_NEXT'" (click)="selectedTabLink('UP_NEXT')">UP NEXT</a></div>
      <div><a [class.active]="tab == 'COMPLETED'" (click)="selectedTabLink('COMPLETED')">COMPLETED</a></div>
      <div><a [class.active]="tab == 'ARCHIVED'" (click)="selectedTabLink('ARCHIVED')">ARCHIVED</a></div>
    </div>
    <button class="mobile" ion-button type="button" (click)="selectTab()" full>
      {{ tabs[tab] }}
      <img src="assets/down.png">
    </button>
  </div>
</ion-header>

<ion-content padding>

  <div class="dashboard-header desktop">
    <div class="section type">
      <img src="assets/BEDROOM.png">
    </div>
    <div class="section">
      <p class="info">Client Name</p>
    </div>
    <div class="section">
      <p class="info">Project Type</p>
    </div>
    <div class="section">
      <p class="info">Last Edited</p>
    </div>
    <div class="section">
      <p class="info">Status</p>
    </div>
    <div class="section">
      <p class="info">Time Left</p>
    </div>
    <div class="section">
      <p class="info">Messages</p>
    </div>
  </div>

  <ion-list>

    <ion-item text-center class="no-projects" *ngIf="!projects">
      <h2>We welcome you<span *ngIf="user">, {{ user.firstName }}</span>.</h2>
      <button ion-button (click)="startProject()" full>START NEW PROJECT</button>
    </ion-item>

    <ion-item class="project" *ngFor="let project of projects" (click)="selectedProject(project)">
      <div class="mobile">
        <div class="header">
          <div class="type" item-left>
            <img src="assets/{{ project.projectType }}.png">
          </div>
          <div (click)="chatFor(project)" class="chat" item-right>
            <img [class.inactive]="!project.initChat" src="assets/chat.png">
          </div>
        </div>
        <div class="details">
          <p class="title"><b><span *ngIf="projectUsers[project.userId]">{{ projectUsers[project.userId].shortName }} - </span>{{ project.projectTypeReadable }} Project</b></p>
          <div class="section">
            <p class="info">{{ project.modifiedDateReadable }}</p>
            <p class="sub-title">Edited</p>
          </div>
          <div class="section">
            <p class="info">{{ project.projectStatusReadable }}</p>
            <p class="sub-title">Phase</p>
          </div>
          <div class="section">
            <p class="info">{{ project.endDateReadable }}</p>
            <p class="sub-title">Days Left</p>
          </div>
        </div>
      </div>
      <div class="desktop">
        <div class="section type">
          <img src="assets/{{ project.projectType }}.png">
        </div>
        <div class="section">
          <p class="info"><span *ngIf="projectUsers[project.userId]">{{ projectUsers[project.userId].shortName }}</span></p>
        </div>
        <div class="section">
          <p class="info">{{ project.projectTypeReadable }}</p>
        </div>
        <div class="section">
          <p class="info">{{ project.modifiedDateReadable }}</p>
        </div>
        <div class="section">
          <p class="info">{{ project.projectStatusReadable }}</p>
        </div>
        <div class="section">
          <p class="info">{{ project.endDateReadable }}</p>
        </div>
        <div (click)="chatFor(project)" class="section chat">
          <img [class.inactive]="!project.initChat" src="assets/chat.png">
        </div>
      </div>
    </ion-item>
  
  </ion-list>
</ion-content>