
<ion-header>
    <ion-navbar>
        <img src="assets/chat.png">
        <ion-title class="title" *ngIf="user">
            {{ user.firstName }}
        </ion-title>
        <ion-title class="title" *ngIf="!user">
            Chat
        </ion-title>
        <ion-buttons end>
            <button class="exit" ion-fab (click)="dismiss()">
                    <img src="assets/exit.png">
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <p class="alert-text" *ngIf="!messages || messages.length < 1">Hello and welcome to your personal design studio! As soon as you submit your final details, we will connect you with your designer so that you two can chat. The 10 day design period begins once you recieve your initial concept boards. Thank you!</p>
    <ion-list no-lines>
        <ion-item *ngFor="let message of messages">
            <div class="chat-header">
                <img *ngIf="members[message.senderId]" [src]="members[message.senderId].photoURL">
                <img *ngIf="!members[message.senderId]" src="assets/tmh.png">
                <h4 *ngIf="message.senderFirstName">{{ message.senderFirstName }}</h4>
                <h4 *ngIf="!message.senderFirstName">TMH BOT</h4>
                <p *ngIf="message.createdAtReadable">{{ message.createdAtReadable }}</p>
            </div>
            <div *ngIf="message.text" class="chat-bubble {{ message.position }} ">
                <div class="message">{{ message.text }}</div>
            </div>
            <div *ngIf="message.url" class="img-bubble {{ message.position }}">
                <img src="{{ message.url }}" (click)="showImage(message.url)">
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer class="chat-footer">
  <form name="chat-form">
      <button class="attach" type="button" (click)="presentActionSheet()">
          <img src="assets/attach.png">
      </button>
      <div class="chat-message">
          <ion-textarea type="text" name="chat-message" [(ngModel)]="message.text" placeholder="Enter a message" autocorrect="on"></ion-textarea>
      </div>
      <button ion-button class="send" type="button" (click)="send()">
          SEND
      </button>
  </form>
</ion-footer>