page-profile {
  .header-md:after {
    background-image: none !important;
  }
  .profile-header {
    position: relative;
    min-height: 190px;
    padding: 20px;
    background-color: #fff;
    @media only screen and (min-width: 700px) {
      padding-left: 20% !important;
      padding-right: 20% !important;
    }
    @media only screen and (max-width: 700px) {
      h1 {
        margin-top: 160px !important;
      }
      h1, h3, h4 {
        margin-left: 0px !important;
      }
      h3 {
        margin-bottom: 20px !important;
      }
    }
    .img-input {
      position: absolute;
      bottom: 2.5px;
      left: 20%;
    }
    img {
      width: 148px;
      height: 148px;
      object-fit: cover;
      float: left;
      border-radius: 8px;
      margin-right: 20px;
    }
    h1, h3, h4 {
      text-align: left;
      margin: 0px 20px;
    }
    h1 {
      font-weight: 700;
    }
    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 55px;
    }
    h4 {
      font-size: 16px;
    }
    .button {
      float: right;
    }
  }
  .scroll-content {
    background-color: #ecf0f1;
  }
  .profile-wrapper {
    margin: 20px;
    @media only screen and (min-width: 700px) {
      padding-left: 18% !important;
      padding-right: 18% !important;
    }
    .profile-details {
      h1, h2, p {
        text-align: left;
      }
      .profile-details-content {
        box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
        padding: 10px 30px 20px;
        background-color: #fff;
        h2 {
          color: #9C9C9C;
          font-size: 16px;
        }
        p {
          font-weight: 700;
        }
      }
      .profile-details-edit {
        .item-md, .item-inner {
          padding: 0px 0px !important;
        }
        // .input-has-focus {
        //   box-sizing: border-box;
        //   outline-offset: none !important;
        //   border-bottom: 0px solid color($colors, primary) !important;
        // }
        .item {
          background-color: rgba(255,255,255,0);
          margin: 10px 0px;
          .label {
            color: color($colors, primary);
            margin: 10px 0px;
            font-weight: 700;
          }
          .input {
            height: 50px;
            line-height: 35px;
            background-color: #fff;
            margin: 0px 0px !important;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
          }
          .text-input {
            margin-left: 8px;
          }
        }
        .gender-item {
          display: none;
          .item-inner {
            border-bottom: 0px !important;
          }
          p {
            font-size: 12px;
            font-weight: 700;
            color: color($colors, primary);
          }
          .button {
            background-color: #fff;
            width: 100%;
            height: 50px !important;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
            margin-bottom: 0px !important;
            .button-inner {
              justify-content: left;
              color: color($colors, primary);
            }
            img {
              width: 15px;
              position: absolute;
              top: 20px;
              right: 15px;
              margin: auto;
            }
          }
        }
        @media only screen and (min-width: 700px) {
          .item:nth-of-type(1) {
            margin-right: 20px !important;
          }
          .item:nth-of-type(1), .item:nth-of-type(2) {
            width: calc(50% - 10px);
            float: left;
          }
          .item:nth-of-type(3) {
            width: calc(75% - 10px);
            float: left;
            margin-right: 20px !important;
          }
          .item:nth-of-type(4) {
            width: calc(25% - 10px);
            float: left;
          }
          .item:nth-of-type(8) {
            margin-right: 20px !important;
          }
          .item:nth-of-type(8), .item:nth-of-type(9) {
            width: calc(50% - 10px);
            float: left;
          }
        }
        .button {
          margin: 20px 0px !important;
          width: 200px;
        }
      }
    }
  }
}