<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="homePressed()">
        <img style="width:54px;margin:5px;" src="assets/logo.png">
      </button>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
    <ion-buttons end>
      <button class="avatar" ion-button menuToggle>
        <img *ngIf="user" [src]="user.photoURL">
        <img *ngIf="!user" src="assets/tmh.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <div class="profile-header">
    <img *ngIf="user" [src]="user.photoURL">
    <img *ngIf="!user" src="assets/tmh.png">
    <button ion-button type="button" (click)="editToggled()">EDIT</button>
    <h1 *ngIf="user">{{ user.firstName }} {{ user.lastName }}</h1>
    <h1 *ngIf="!user">Unknown User</h1>
    <h3 *ngIf="user && user.city && user.state">{{ user.city }}, {{ user.state }}</h3>
    <h3 *ngIf="!user || !user.city || !user.state">City, State</h3>
    <h4 *ngIf="user && user.emailAddress">{{ user.emailAddress }}</h4>
    <h4 *ngIf="!user || !user.emailAddress">City, State</h4>
    <h4 *ngIf="user && user.joinedDate">{{ user.emailAddress }}</h4>
    <h4 *ngIf="!user || !user.joinedDate">Joined: January 17, 2017</h4>
  </div>
  <div class="profile-wrapper">
    <div *ngIf="user" class="profile-details">
      <h1>Personal Information</h1>
      <div class="profile-details-content">
        <h2>NAME</h2>
        <p>{{ user.firstName }} {{ user.lastName }}</p>
        <h2>EMAIL</h2>
        <p>{{ user.emailAddress }}</p>
        <h2 *ngIf="user.city && user.state">LOCATION</h2>
        <p *ngIf="user.city && user.state">{{ user.city }}, {{ user.state }}</p>
        <h2 *ngIf="user.male">GENDER</h2>
        <p *ngIf="user.male">{{ user.male ? 'Male' : 'Female' }}</p>
      </div>
    </div>
  </div>
</ion-content>