page-design {
  @media only screen and (min-width: 700px) {
    .collab-workzone, .collection-box, .project-items {
      padding-right: 340px !important;
    }
  }
  // Remove padding for chat space from page when minimized on desktop
  .minimized {
    @media only screen and (min-width: 700px) {
      .collab-workzone, .collection-box, .project-items {
        padding-right: 5px !important;
      }
    }
  }
  .toolbar-title {
    @media only screen and (max-width: 700px) {
      font-size: 16px !important;
      .page {
        display: block;
        font-size: 14px !important;
      }
    }
    font-size: 26px;
    .page {
      font-size: 16px;
    }
  }
  .fixed-content {
    background-color: color($colors, secondary);
  }
  .sub-nav {
    padding: 10px 15px;
    position: relative;
    background-color: color($colors, primary);
    .button {
      position: relative;
      width: 100%;
      border: 1px solid #fff;
      color: #fff !important;
      .button-inner {
        justify-content: left;
      }
      img {
        position: absolute;
        top: 15px;
        right: 15px;
        margin: auto;
      }
    }
    img {
      width: 15px;
      margin: 10px;
    }
    .menu {
      padding: 15px 0px 0px;
      margin: auto;
      width: 75%;
      @media only screen and (min-width: 700px) {
        display: table;
      }
      table-layout: fixed;
      div {
        display: table-cell;
      }
      a {
        display: inline-block;
        width: 95%;
        height: 25px;
        margin: auto;
        text-align: center;
        color: #fff;
        border-bottom: 2px solid rgba(255,255,255,0.5);
      }
      .active {
        border-bottom: 2px solid #fff;
      }
    }
    @media only screen and (min-width: 700px) {
      .days-left {
        top: 22.5px !important;
        font-size: 18px;
      }
    }
    .days-left {
      position: absolute;
      top: -10px;
      right: 15px;
      color: #fff;
    }
  }
  .collab-workzone {
    position: relative;
    background-image: url('../assets/constructor_bg.png');
    background-repeat: repeat;
    background-size: cover;
    padding: 5px;
    @media only screen and (max-width: 700px) {
      padding-top: 50px;
    }
    @media only screen and (min-width: 700px) {
      // padding-right: 346px;
      min-height: 500px;
    }
    .segment {
      position: absolute;
      top: 10px;
      left: 15px;
      width: 200px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      border-radius: 2px;
    }
    .chat-fab {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 45px !important;
      height: 45px !important;
      border-radius: 50% !important;
      img {
        object-fit: contain;
        width: 17.5px;
        height: 17.5px;
      }
    }
    .collab-alert {
      @media only screen and (min-width: 700px) {
        max-width: 500px;
        margin: 50px auto;
      }
      text-align: center;
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      .note {
        font-weight: 600;
        color: #C3C3C3;
      }
    }
    .collab-image {
      margin: 10px 10px 20px;
      text-align: center;
      background-color: rgba(255,255,255,0);
      .selected-img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        object-fit: contain;
        border: 5px solid color($colors, primary);
      }
      #floorplan-img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        object-fit: contain;
        opacity: 0.25;
      }
      ion-spinner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
      .leaflet-control-zoom.leaflet-bar.leaflet-control {
        border-radius: 2px;
        border: none;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
      }
      .number-icon {
        background-color: #5794D9;
        width: 30px !important;
        max-height: 30px;
        border-radius: 50%;
        color: #fff;
        font-weight: 700;
        line-height: 30px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
      }
      .leaflet-popup-content {
        text-align: center;
        h1, h2, p {
          margin: 0px 0px;
        }
      }
      .collab-thumb-wrapper {
        position: relative;
        display: table;
        table-layout: fixed;
        margin: auto;
        .collab-thumb {
          position: relative;
          display: table-cell;
          .thumb-img {
            background-color: #fff;
            margin: 10px;
            display: inline-block;
            width: 75px;
            height: 75px;
            object-fit: cover;
          }
          .active {
            border: 5px solid color($colors, primary);
          }
          .delete {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
      }
      .button {
        max-width: 300px;
      }
    }
    .collab-design-switcher {
      margin: 10px;
      @media only screen and (max-width: 700px) {
        margin: 10px auto;
      }
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      border-radius: 2px;
      padding: 0px 12px;
      width: 221px;
      height: 35px;
      line-height: 35px;
      background-color: #fff !important;
      a {
        font-weight: 700;
        font-size: 12px;
        padding: 0px 5px;
      }
      a:nth-of-type(1) {
        border-right: 0.5px solid rgba(0,0,0,0.25);
        padding-right: 10px;
      }
    }
  }
  .collection-box {
    position: relative;
    @media only screen and (min-width: 700px) {
      padding-left: 7.5%;
      .button {
        display: block;
        float: right;
        top: -105px;
        right: 7.5%;
        width: 250px !important;
      }
    }
    padding: 20px;
    background-color: #fff;
    p {
      max-width: 350px;
    }
    .button {
      width: 100%;
    }
  }
  .project-items {
    padding: 20px;
    margin: auto;
    position: relative;
    @media only screen and (max-width: 700px) {
      .project-items-box {
        margin: 10px auto !important;
      }
      .project-items-box:nth-of-type(1) {
        margin-top: 20px !important;
      }
      h1 {
        padding-bottom: 60px !important;
      }
      h5 {
        top: 45px !important;
        right: none !important;
        left: 20px;
      }
    }
    h4 {
      font-weight: 700;
      color: #9C9C9C;
      margin-bottom: 20px;
      width: 100%;
    }
    h5 {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .project-items-wrapper {
      margin: auto;
      @media only screen and (min-width: 700px) {
        width: 90%;
      }
      .project-items-box {
        position: relative;
        margin: 10px;
        padding: 10px;
        max-width: 240px;
        width: 240px;
        height: 361px;
        background-color: #fff;
        box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
        text-align: center;
        .project-items-label {
          background-color: #5794D9;
          height: 30px;
          line-height: 30px;
          color: #fff;
          margin-bottom: 10px;
        }
        .project-items-img {
          position: relative;
          width: 220px;
          height: 163px;
          background-color: #D8D8D8;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        h6, p {
          margin: 5px;
        }
        h2 {
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translateX(-50%);
        }
        .button {
          position: absolute;
          box-sizing: border-box !important;
          bottom: 10px;
          left: 10px;
          width: calc(100% - 20px);
        }
      }
    }
  }
}
