page-design {
  @media only screen and (min-width: 700px) {
    .collab-workzone {
      padding-right: 340px !important;
    }
    ion-spinner {
      right: 340px !important;
    }
  }
  
  .fixed-content {
    background-color: color($colors, secondary);
  }
  
  .collab-workzone {
    position: relative;
    background-image: url('../assets/constructor_bg.png');
    background-repeat: repeat;
    background-size: cover;
    padding: 5px;
    ion-spinner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 50px;
      height: 50px;
    }
    @media only screen and (max-width: 700px) {
      padding-top: 50px;
      min-height: 300px;
    }
    @media only screen and (min-width: 700px) {
      min-height: 500px;
    }
    .admin-segment {
      z-index: 1000;
      @media only screen and (max-width: 700px) {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      width: 200px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      border-radius: 2px;
    }
    .collab-alert {
      @media only screen and (min-width: 700px) {
        position: absolute;
        top: 50%;
        right: 340px;
        left: 0;
        transform: translateY(-65%);
        max-width: 500px;
        margin: 50px auto;
      }
      text-align: center;
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      .note {
        font-weight: 600;
        color: #C3C3C3;
      }
    }
    .collab-image {
      @media only screen and (min-width: 700px) {
        margin: 10px 10px 60px !important;
      }
      position: relative;
      margin: 10px 10px 20px;
      text-align: center;
      background-color: rgba(255,255,255,0);
      .selected-img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        object-fit: contain;
        border: 5px solid color($colors, primary);
      }
      .collab-thumb-wrapper {
        position: relative;
        display: table;
        table-layout: fixed;
        margin: auto;
        .collab-thumb {
          position: relative;
          display: table-cell;
          @media only screen and (max-width: 700px) {
            display: inline-block !important;
          }
          .thumb-img {
            background-color: #fff;
            margin: 10px;
            display: inline-block;
            width: 75px;
            height: 75px;
            object-fit: cover;
          }
          .active {
            border: 5px solid color($colors, primary);
          }
          .delete {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 10px;
            right: 10px;
          }
          .add {
            border: 5px solid color($colors, primary);
            padding: 20px;
          }
        }
      }
      .button {
        max-width: 300px;
      }
    }
    .collab-design-switcher {
      margin: 10px;
      @media only screen and (min-width: 700px) {
        position: absolute;
        bottom: 5px;
        left: 5px;
      }
      @media only screen and (max-width: 700px) {
        margin: 10px auto;
      }
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      border-radius: 2px;
      padding: 0px 12px;
      width: 221px;
      height: 35px;
      line-height: 35px;
      background-color: #fff !important;
      a {
        font-weight: 700;
        font-size: 12px;
        padding: 0px 5px;
      }
      a:nth-of-type(1) {
        border-right: 0.5px solid rgba(0,0,0,0.25);
        padding-right: 10px;
      }
    }
  }
  .collection-box {
    position: relative;
    box-sizing: content-box;
    @media only screen and (min-width: 700px) {
      padding-left: 7.5%;
      .button {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 250px !important;
      }
    }
    padding: 20px;
    background-color: #fff;
    h1 {
      text-transform: uppercase;
    }
    p {
      max-width: 350px;
    }
    .button {
      width: 100%;
    }
  }
  .project-items-view-switcher {
    background: #D3D3D3;
    .segment {
      max-width: 250px;
      margin: auto;
      .segment-button {
        margin: 8px;
      }
    }
  }
}