<ion-header [class.maximized]="maximized">
    <navbar
      [tabs]="['DETAILS', 'DESIGN', 'FINAL_DELIVERY']"
      [selectedTab]="'DESIGN'"
      [user]="user"
      [project]="project"
      (onHomePressed)="homePressed()"
      (onSelectTab)="selectTabLink($event)"
      (onSelectDropdown)="selectTab()"
    ></navbar>
</ion-header>

<ion-content [class.minimized]="minimized">

  <div class="collab-workzone" *ngIf="project">

    <input type="file" accept="image/*" #file (change)="fileChanged($event)" style="visibility:hidden" />

    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

    <ion-segment *ngIf="user.is_staff" [(ngModel)]="roleView" class="admin-segment">
      <ion-segment-button value="CLIENT">
        CLIENT
      </ion-segment-button>
      <ion-segment-button value="DESIGNER">
        DESIGNER
      </ion-segment-button>
    </ion-segment>

    <button class="chat-fab mobile" ion-fab (click)="maximizeChat()">
      <img src="assets/chats.png">
    </button>

    <div *ngIf="view === 'APPROVE_CONCEPT' && roleView === 'CLIENT' && !concepts && !loading" class="collab-alert">
      <h1>WELCOME TO THE DESIGN STAGE!</h1>
      <p>Your designer is hard at work designing your two custom concept boards! We will send you an email when it's time for you to make a selection.</p>
    </div>
    <div *ngIf="view === 'APPROVE_CONCEPT' && roleView === 'CLIENT' && concepts && concepts[0].status === 'PENDING'" class="collab-alert">
      <h1>WELCOME TO THE DESIGN STAGE!</h1>
      <p>Your designer is hard at work designing your two custom concept boards! We will send you an email when it's time for you to make a selection.</p>
    </div>
    <div *ngIf="view === 'APPROVE_CONCEPT' && roleView === 'DESIGNER' && !concepts && !loading" class="collab-alert">
      <h1>WELCOME TO THE DESIGN STAGE!</h1>
      <p>Please upload 2 concept boards based on your client's information and style. Once all boards have been uploaded and confirmed, submit to the client and the 10 business day timeline will begin.</p>
      <button (click)="file.click()" ion-button full type="button">UPLOAD</button>
    </div>
    <div *ngIf="view === 'APPROVE_FLOOR_PLAN' && conceptboard && !floorplan && roleView === 'CLIENT' && !loading" class="collab-alert">
      <h1>HANG TIGHT</h1>
      <p>Your designer is hard at work putting together the Floor Plan of your room!</p>
    </div>
    <div *ngIf="view === 'APPROVE_FLOOR_PLAN' && conceptboard && !floorplan && roleView === 'DESIGNER' && !loading" class="collab-alert">
      <p>Using the floor plan provided by the client, create and upload a floor plan to begin the design process.</p>
      <button (click)="file.click()" ion-button full type="button">UPLOAD</button>
    </div>

    <div *ngIf="view === 'APPROVE_CONCEPT' && concepts && !conceptboard" class="collab-image">
      <div *ngIf="roleView === 'CLIENT' && concepts[0].status === 'SUBMITTED'">
        <img class="selected-img" [src]="selectedConcept.image">
        <div class="collab-thumb-wrapper">
          <div class="collab-thumb" *ngFor="let thumb of concepts">
            <img class="thumb-img" [src]="thumb.image" [class.active]="thumb.id === selectedConcept.id" (click)="selectConcept(thumb)">
          </div>
        </div>
        <button (click)="approveConcept()" ion-button full type="button">APPROVE CONCEPT {{ concepts[0].id === selectedConcept.id ? 1 : 2 }}</button>
      </div>
      <div *ngIf="roleView === 'DESIGNER'">
        <img class="selected-img" [src]="selectedConcept.image">
        <div class="collab-thumb-wrapper">
          <div class="collab-thumb" *ngFor="let thumb of concepts">
            <img class="thumb-img" [src]="thumb.image" [class.active]="thumb.id === selectedConcept.id" (click)="selectConcept(thumb)">
            <img class="delete" src="assets/delete.png" (click)="deleteConcept(thumb)">
          </div>
          <div class="collab-thumb">
            <img class="thumb-img add" src="assets/add.png" (click)="file.click()">
          </div>
        </div>
        <button (click)="submitConcepts()" ion-button full type="button">{{ concepts[0].status === 'SUBMITTED' ? 'RESUBMIT CONCEPTS' : 'SUBMIT CONCEPTS'}}</button>
      </div>
    </div>

    <div *ngIf="floorplan" [hidden]="view !== 'FLOOR_PLAN'" class="collab-image" id="floorplan-map">
      <img [src]="floorplan.image" id="floorplan-img">
    </div>

    <div *ngIf="view === 'CONCEPT_BOARD' && conceptboard" class="collab-image">
      <img [src]="conceptboard.image" class="selected-img">
    </div>

    <div *ngIf="view !== 'APPROVE_CONCEPT' && view !== 'APPROVE_FLOOR_PLAN'" class="collab-design-switcher">
      <a (click)="selectFloorplan()">FLOOR PLAN</a>
      <a (click)="selectConceptboard()">CONCEPT BOARD</a>
    </div>

    <div class="chat-header desktop" [class.header-minimized]="minimized" [class.header-maximized]="maximized" (click)="chatToggled()">
      <img class="chat-img" src="assets/chat.png">
      <h2 class="chat-title">Chat</h2>
      <img class="chat-minimize" src="assets/down-arrow.png">
    </div>

    <chat [project]="project" [class.wrapper-minimized]="minimized" [class.wrapper-maximized]="maximized" class="chat-wrapper desktop"></chat>
  
  </div>
  
  <div class="project-items-view-switcher" *ngIf="items.pending || items.approved">
    <ion-segment [(ngModel)]="itemsView" (ionChange)="itemViewSwitched()">
      <ion-segment-button value="PENDING" *ngIf="project.status !== 'FINAL_DELIVERY' && project.status !== 'SHOPPING_CART' && project.status !== 'ESTIMATE_SHIPPING_AND_TAX' && project.status !== 'ARCHIVED'">
        <span *ngIf="roleView === 'CLIENT'">PENDING</span>
        <span *ngIf="roleView === 'DESIGNER'">{{ project.status === 'FLOOR_PLAN' ? 'SUBMITTED' : 'PENDING' }}</span>
      </ion-segment-button>
      <ion-segment-button value="MODIFIED" *ngIf="items.modified">
        MODIFIED
      </ion-segment-button>
      <ion-segment-button value="APPROVED" *ngIf="items.approved">
        APPROVED
      </ion-segment-button>
    </ion-segment>
  </div>

  <collection-box
    [roleView]="roleView"
    [itemsView]="itemsView"
    [project]="project"
    [items]="items"
    [concepts]="concepts"
    [floorplan]="floorplan"
    (onApprove)="approveCollection()"
    (onSubmit)="submitCollection()"
  >
  </collection-box>

  <ion-grid *ngIf="items[itemsView.toLowerCase()]" class="project-items">
    <h4>{{ items[itemsView.toLowerCase()].length }} ITEMS</h4>
    <h5>Collection Total: ${{ items[itemsView.toLowerCase()] | priceTotal }}</h5>
    <ion-row class="project-items-wrapper">
      <ion-col col-12 col-sm *ngFor="let item of items[itemsView.toLowerCase()]; let i = index" class="project-items-box">
        <div *ngIf="roleView === 'CLIENT'">
          <div class="project-items-label">
            ITEM {{ i + 1 }}
          </div>
          <div class="project-items-img">
            <img *ngIf="item.image" [src]="item.image">
          </div>
          <h6>{{ item.make }}</h6>
          <p>{{ item.type }}</p>
          <h2>${{ item.price }}</h2>
          <div *ngIf="item.status === 'SUBMITTED' || item.status === 'PENDING'">
            <button *ngIf="project.status === 'FLOOR_PLAN' || project.status === 'ALTERNATIVES_READY'" ion-button type="button" (click)="requestAlternative(item)">REQUEST ALTERNATIVES</button>
          </div>
          <div *ngIf="item.status === 'REQUEST_ALTERNATIVE' && items[itemsView.toLowerCase()][item.id]">
            <button *ngIf="project.status !== 'REQUEST_ALTERNATIVES'" ion-button type="button" (click)="undoAlternative(item)">UNDO</button>
            <button *ngIf="project.status === 'REQUEST_ALTERNATIVES'" ion-button type="button" (click)="viewAlternatives(item, i)">VIEW ALTERNATIVES</button>
          </div>
        </div>
        <div *ngIf="roleView === 'DESIGNER'">
          <div class="project-items-label" (click)="editItem($event, item, i)">
            ITEM {{ i + 1 }}
          </div>
          <div class="project-items-img" (click)="editItem($event, item, i)">
            <img *ngIf="item.image" [src]="item.image">
          </div>
          <h6>{{ item.make }}</h6>
          <p>{{ item.type }}</p>
          <h2>${{ item.price }}</h2>
          <div *ngIf="item.status === 'REQUEST_ALTERNATIVE'">
            <button *ngIf="project.status === 'REQUEST_ALTERNATIVES'" ion-button type="button" (click)="offerAlternative(item, i)">OFFER ALTERNATIVES</button>
            <button *ngIf="project.status === 'ALTERNATIVES_READY'" ion-button type="button" (click)="viewAlternatives(item, i)">VIEW ALTERNATIVES</button>
            <button *ngIf="project.status === 'FLOOR_PLAN'" ion-button type="button" (click)="editItem($event, item, i)">EDIT</button>
          </div>
          <div *ngIf="item.status === 'ALTERNATE_READY'">
            <button *ngIf="project.status === 'REQUEST_ALTERNATIVES'" ion-button type="button" (click)="offerAlternative(item, i)">OFFER ALTERNATIVES</button>
            <button *ngIf="project.status === 'ALTERNATIVES_READY'" ion-button type="button" (click)="viewAlternatives(item, i)">VIEW ALTERNATIVES</button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>