<ion-header [class.maximized]="maximized">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="homePressed()">
        <img style="width:54px;margin:5px;" src="assets/logo.png">
      </button>
    </ion-buttons>
    <ion-title><span *ngIf="projectclient">{{ project.client.firstName }}'s </span><span *ngIf="project">{{ types[project.projectType] }} Project: </span><span class="page">Design Studio</span></ion-title>
    <ion-buttons end>
      <button class="avatar" ion-button menuToggle>
        <img *ngIf="user && user.photoURL" [src]="user.photoURL">
        <img *ngIf="!user || !user.photoURL" src="assets/user-placeholder.png">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-nav">
    <div class="desktop menu">
      <div><a (click)="selectTabLink('DETAILS')">1. DETAILS</a></div>
      <div><a class="active">2. DESIGN</a></div>
      <div><a (click)="selectTabLink('FINAL_DELIVERY')">3. FINAL DELIVERY</a></div>
    </div>
    <button class="mobile" ion-button type="button" (click)="selectTab()" full>
      2. DESIGN
      <img src="assets/down.png">
    </button>
    <div class="days-left">
      {{ project.endDateReadable }}
    </div>
  </div>
</ion-header>

<ion-content [class.minimized]="minimized">
  <div class="collab-workzone">
    <input type="file" accept="image/*" #file (change)="fileChanged($event)" style="visibility:hidden" />
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    <ion-segment *ngIf="user.admin" [(ngModel)]="viewMode" class="admin-segment">
      <ion-segment-button value="CLIENT">
        CLIENT
      </ion-segment-button>
      <ion-segment-button value="DESIGNER">
        DESIGNER
      </ion-segment-button>
    </ion-segment>
    <button class="chat-fab mobile" ion-fab (click)="maximizeChat()">
      <img src="assets/chats.png">
    </button>
    <div *ngIf="view == 'APPROVE' && viewMode == 'CLIENT' && !concepts && !loading" class="collab-alert">
      <h1>WELCOME TO THE DESIGN STAGE!</h1>
      <p>Your designer is hard at work designing your two custom concept boards! We will send you an email when it's time for you to make a selection.</p>
    </div>
    <div *ngIf="view == 'APPROVE' && viewMode == 'DESIGNER' && !concepts && !loading" class="collab-alert">
      <h1>WELCOME TO THE DESIGN STAGE!</h1>
      <p>Please upload 2 concept boards based on your client's information and style. Once all boards have been uploaded and confirmed, submit to the client and the 10 business day timeline will begin.</p>
      <button (click)="file.click()" ion-button full type="button">UPLOAD</button>
    </div>
    <div *ngIf="view == 'APPROVE' && concepts" class="collab-image">
      <p *ngIf="view == 'DESIGNER'">Your client has received your submission. Feel free to edit and resubmit before their approval.</p>
      <img class="selected-img" [src]="selectedConcept.url">
      <div class="collab-thumb-wrapper">
        <div class="collab-thumb" *ngFor="let thumb of concepts">
          <img class="thumb-img" [src]="thumb.url" [class.active]="thumb.id == selectedConcept.id" (click)="selectConcept(thumb)">
          <img *ngIf="view == 'DESIGNER'" class="delete" src="assets/delete.png" (click)="deleteConcept(thumb)">
        </div>
        <div *ngIf="viewMode == 'DESIGNER'" class="collab-thumb">
          <img class="thumb-img add" src="assets/add.png" (click)="file.click()">
        </div>
      </div>
      <button *ngIf="view == 'CLIENT'" (click)="approveConcept(thumb)" ion-button full type="button">APPROVE CONCEPT</button>
      <button *ngIf="view == 'DESIGNER'" (click)="submitConcepts()" ion-button full type="button">SUBMIT</button>
    </div>
    <div *ngIf="view == 'APPROVE' && conceptboard && !floorplan && viewMode == 'CLIENT' && !loading" class="collab-alert">
      <h1>HANG TIGHT</h1>
      <p>Your designer is hard at work putting together the Floor Plan of your room! We will send you an email when it's time for your to make a selection.</p>
    </div>
    <div *ngIf="view == 'APPROVE' && conceptboard && !floorplan && viewMode == 'DESIGNER' && !loading" class="collab-alert">
      <p>Using the floor plan provided by the client, create and upload a floor plan to begin the design process.</p>
      <button (click)="file.click()" ion-button full type="button">UPLOAD</button>
    </div>
    <div *ngIf="view == 'FLOOR_PLAN' && floorplan" class="collab-image" id="floorplan-map">
      <img [src]="floorplan.url" id="floorplan-img">
    </div>
    <div *ngIf="view == 'CONCEPT_BOARD' && conceptboard" class="collab-image">
      <img [src]="conceptboard.url" class="selected-img">
    </div>
    <div *ngIf="view != 'APPROVE'" class="collab-design-switcher">
      <a (click)="selectFloorplan()">FLOOR PLAN</a>
      <a (click)="selectConceptboard()">CONCEPT BOARD</a>
    </div>
    <div class="chat-header desktop" [class.header-minimized]="minimized" [class.header-maximized]="maximized" (click)="chatToggled()">
      <img class="chat-img" src="assets/chat.png">
      <h2 class="chat-title">Chat</h2>
      <img class="chat-minimize" src="assets/down-arrow.png">
    </div>
    <page-chat [project]="project" [class.wrapper-minimized]="minimized" [class.wrapper-maximized]="maximized" class="chat-wrapper desktop"></page-chat>
  </div>
  <div class="project-items-view-switcher" *ngIf="pendingItems || approvedItems">
    <ion-segment [(ngModel)]="itemsViewMode" (ionChange)="itemViewSwitched()">
      <ion-segment-button value="PENDING" *ngIf="project.projectStatus != 'FINAL_DELIVERY' && project.projectStatus != 'SHOPPING_CART' && project.projectStatus != 'ESTIMATE_SHIPPING_AND_TAX' && this.project.projectStatus != 'ARCHIVED'">
        PENDING
      </ion-segment-button>
      <ion-segment-button value="APPROVED">
        APPROVED
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="viewMode == 'CLIENT' && pendingItems && project.projectStatus != 'REQUEST_ALTERNATIVES' && itemsViewMode == 'PENDING'" class="collection-box">
    <h1>YOUR COLLECTION</h1>
    <p>Review your furnishings and note the items that you would like to see alternatives from your designer. Happy with the collection? Go ahead and approve all!</p>
    <button ion-button type="button" (click)="approveCollection()">APPROVE & SUBMIT</button>
  </div>
  <div *ngIf="viewMode == 'CLIENT' && pendingItems && project.projectStatus == 'REQUEST_ALTERNATIVES' && itemsViewMode == 'PENDING'" class="collection-box">
    <h1>ALTERNATES REQUESTED</h1>
    <p>Please wait for your designer to submit alternatives for the items you requested.</p>
    <button ion-button type="button" disabled>APPROVE & SUBMIT</button>
  </div>
  <div *ngIf="viewMode == 'CLIENT' && approvedItems && itemsViewMode == 'APPROVED'" class="collection-box">
    <h1>APPROVED ITEMS</h1>
    <p>Below are the items approved from the previous stage. These items can be further discussed with your designer if needed.</p>
  </div>
  <div *ngIf="viewMode == 'CLIENT' && !pendingItems && !approvedItems && itemsViewMode == 'PENDING'" class="collection-box">
    <h1>YOUR COLLECTION</h1>
    <p>Please wait for your designer to add furniture items to the floorplan before you approve or request alternatives.</p>
  </div>
  <div *ngIf="viewMode == 'DESIGNER' && !pendingItems && !approvedItems && itemsViewMode == 'PENDING'" class="collection-box">
    <h1>{{ types[project.projectType] }} COLLECTION</h1>
    <p>Add furniture to fill the space. Press and hold at a location on the floorplan to add a new item.</p>
  </div>
  <div *ngIf="viewMode == 'DESIGNER' && pendingItems && project.projectStatus != 'REQUEST_ALTERNATIVES' && itemsViewMode == 'PENDING'" class="collection-box">
    <h1>{{ types[project.projectType] }} COLLECTION</h1>
    <p>Continue adding furniture to fill the space. When you're satisfied with the collection, go ahead and submit it to your client.</p>
    <button ion-button type="button" (click)="submitCollection()">SUBMIT COLLECTION</button>
  </div>
  <div *ngIf="viewMode == 'DESIGNER' && pendingItems && project.projectStatus == 'REQUEST_ALTERNATIVES' && itemsViewMode == 'PENDING'" class="collection-box">
    <h1>ALTERNATES REQUESTED:</h1>
    <p>Review the items below. Your client wants to see alternatives furniture for them. When you're satisfied with the collection, go ahead and submit it to your client.</p>
    <button ion-button type="button" (click)="submitAlternatives()">SUBMIT ALTERNATIVES</button>
  </div>
  <div *ngIf="viewMode == 'DESIGNER' && approvedItems && itemsViewMode == 'APPROVED'" class="collection-box">
    <h1>APPROVED ITEMS</h1>
    <p>The client has already approved the following items:</p>
    <button ion-button type="button" (click)="submitAlternatives()">SUBMIT ALTERNATIVES</button>
  </div>
  <ion-grid *ngIf="pendingItems || approvedItems" class="project-items">
    <h4 *ngIf="itemsViewMode == 'PENDING' && pendingItems">{{ pendingItems.length }} ITEMS</h4>
    <h4 *ngIf="itemsViewMode == 'APPROVED' && approvedItems">{{ approvedItems.length }} ITEMS</h4>
    <h5 *ngIf="itemsViewMode == 'PENDING'">Collection Total: ${{ pendingCollectionTotal/100 }}</h5>
    <h5 *ngIf="itemsViewMode == 'APPROVED'">Collection Total: ${{ approvedCollectionTotal/100 }}</h5>
    <ion-row class="project-items-wrapper">
      <ion-col col-12 col-sm *ngFor="let item of pendingItems; let i = index" class="project-items-box" [class.hidden]="itemsViewMode != 'PENDING'">
        <div class="project-items-label">
          ITEM {{ i + 1 }}
        </div>
        <div class="project-items-img">
          <img *ngIf="item.url" [src]="item.url">
        </div>
        <h6>{{ item.itemMake }}</h6>
        <p>{{ item.itemType }}</p>
        <h2>${{ item.itemPrice/100 }}</h2>
        <button *ngIf="item.projectItemStatus == 'REQUEST_ALTERNATIVES' && viewMode == 'CLIENT'" ion-button type="button" (click)="requestAlternative(item)">REQUEST ALTERNATIVES</button>
        <button *ngIf="item.projectItemStatus == 'SUBMITTED' && viewMode == 'CLIENT'" ion-button type="button" (click)="viewAlternative(item)">VIEW ALTERNATIVES</button>
        <button *ngIf="item.projectItemStatus == 'REQUEST_ALTERNATIVES' && viewMode == 'DESIGNER'" ion-button type="button" (click)="offerAlternative(item)">OFFER ALTERNATIVES</button>
        <button *ngIf="item.projectItemStatus == 'SUBMITTED' && viewMode == 'DESIGNER'" ion-button type="button" (click)="viewAlternative(item)">ALTERNATIVES ADDED</button>
        <button *ngIf="item.projectItemStatus != 'REQUEST_ALTERNATIVES' && item.projectItemStatus != 'REQUEST_ALTERNATIVES' && viewMode == 'DESIGNER'" ion-button type="button" (click)="editItem(item)">EDIT</button>
      </ion-col>
      <ion-col col-12 col-sm *ngFor="let item of approvedItems; let i = index" class="project-items-box" [class.hidden]="itemsViewMode != 'APPROVED'">
        <div class="project-items-label">
          ITEM {{ i + 1 }}
        </div>
        <div class="project-items-img">
          <img *ngIf="item.url" [src]="item.url">
        </div>
        <h6>{{ item.itemMake }}</h6>
        <p>{{ item.itemType }}</p>
        <h2>${{ item.itemPrice/100 }}</h2>
        <button *ngIf="item.projectItemStatus == 'REQUEST_ALTERNATIVES' && viewMode == 'CLIENT'" ion-button type="button" (click)="requestAlternative(item)">REQUEST ALTERNATIVES</button>
        <button *ngIf="item.projectItemStatus == 'SUBMITTED' && viewMode == 'CLIENT'" ion-button type="button" (click)="viewAlternative(item)">VIEW ALTERNATIVES</button>
        <button *ngIf="item.projectItemStatus == 'REQUEST_ALTERNATIVES' && viewMode == 'DESIGNER'" ion-button type="button" (click)="offerAlternative(item)">OFFER ALTERNATIVES</button>
        <button *ngIf="item.projectItemStatus == 'SUBMITTED' && viewMode == 'DESIGNER'" ion-button type="button" (click)="viewAlternative(item)">ALTERNATIVES ADDED</button>
        <button *ngIf="item.projectItemStatus != 'REQUEST_ALTERNATIVES' && item.projectItemStatus != 'REQUEST_ALTERNATIVES' && viewMode == 'DESIGNER'" ion-button type="button" (click)="editItem(item)">EDIT</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>