<ion-menu side="right" [content]="content">
  <ion-content>
    <div class="header">
     <img *ngIf="this.userService.currentUser && this.userService.currentUser.image" [src]="this.userService.currentUser.image">
     <img *ngIf="!this.userService.currentUser || !this.userService.currentUser.image" src="assets/user-placeholder.png">
     <h4 *ngIf="this.userService.currentUser">
      {{ this.userService.currentUser.first_name }} {{ this.userService.currentUser.last_name }}
     </h4>
     <p *ngIf="this.userService.currentUser">
      {{ this.userService.currentUser.email }}
     </p>
     <h4 *ngIf="!this.userService.currentUser">
      User
     </h4>
     <p *ngIf="!this.userService.currentUser">
      user@email.com
     </p>
     <button (click)="profilePressed()" ion-button full type="button">
       VIEW PROFILE
     </button>
   </div>
   <a (click)="allPressed()">ALL PROJECTS</a>
   <a (click)="newPressed()">NEW PROJECT</a>
   <a (click)="logout()">LOGOUT</a>
  </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content></ion-nav>
