// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Regular */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway'), url(../assets/fonts/Raleway-Regular.ttf) format('truetype');
}

/* Light */

@font-face {
  font-family: 'Raleway-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway-Light'), local('Raleway-Light'), url(../assets/fonts/Raleway-Light.ttf) format('truetype');
}

/* Header styles */

h1 {
  font-family: $font-family-base !important;
}
h2 {font-family: $font-family-base !important;
}
h3 {
    font-family: $font-family-base !important;
}
h4 {
    font-family: $font-family-base !important;
}
h5 {
    font-family: $font-family-base !important;
}
h6 {
    font-family: $font-family-base !important;
}
p {
    font-family: $font-family-base !important;
}
strong {
    font-family: $font-family-base !important;
}

/* Element styles */

button {
  font-family: $font-family-base !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  height: 40px !important;
  margin: 0 auto !important;
}

.label {
  font-family: $font-family-base !important;
}


/* Navbar styles */

.toolbar-background {
  background-color: color($colors, primary) !important;
}

.toolbar-title {
  color: #fff !important;
  font-family: $font-family-base !important;
  border-left: 1px solid rgba(255,255,255,0.5);
  font-weight: 700;
}

/* Sidemenu style */

ion-menu {
  .header {
    padding: 20px !important;
    border-bottom: 1px solid color($colors, light);
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      float: left;
      margin: 5px 10px 10px 0px;
      border-radius: 8px;
    }
    h4 {
      padding-top: 8px;
      margin: 0px;
      font-weight: 600;
    }
    p {
      margin-top: 0px;
    }
  }
  a {
    display: block;
    margin: 20px;

  }
}

/* Alert styles */

.alert-head {
    text-align: center !important;
}

.alert-message {
    font-family: $font-family-base !important;
    text-align: center !important;
}

.alert-button-group {
    justify-content: center !important;
}

.alert-button {
    font-family: $font-family-base !important;
    font-weight: 800 !important;
    text-transform: capitalize !important;
}

/* Define visible device screen widths */

@media only screen and (min-width: 700px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
.mobile {
    display: block;
    }
    .desktop {
        display: none;
    }
}

/* Avatar styles */
.avatar {
  padding-right: 10px;
    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 5px;
    }
}

/* Admin segment styles */
.admin-segment {
    // position: absolute;
    // top: 10px;
    // left: 10px;
    border-radius: 0px !important;
    background-color: color($colors, primary) !important;
    .segment-button {
        color: #fff !important;
        border-bottom-color: #fff;
    }
    .segment-activated {
        border-bottom-color: #fff !important;
    }
}

/* Dropdown popover styles */
.tab-popover, .popover-content {
    position: absolute;
    top: 115px !important; // 115 browser builds, 135 mobile builds
    left: 0px !important;
    width: 100% !important;
    height: 100%;
    border-radius: 0 !important;
}