navbar {
  .toolbar-title {
    @media only screen and (max-width: 700px) {
      font-size: 16px !important;
      .page {
        display: block;
        font-size: 14px !important;
      }
    }
    font-size: 26px;
    .page {
      font-size: 16px;
    }
  }
  .nav-logo {
    width: 54px;
    margin: 5px;
  }
}
