page-loading {
  .scroll-content {
    background-color: #1b1b1b;
  }
  .center {
    padding: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    margin: auto;
    img {
      width: 60px;
      margin-bottom: 10px;
    }
    .spinner {
      margin: auto;
      display: block;
    }
    .spinner * {
      stroke: #fff;
    }
  }
}
