page-details {
  @media only screen and (min-width: 700px) {
    .collab-workzone {
      padding-right: 340px !important;
    }
    ion-spinner {
      right: 340px !important;
    }
  }
  // Remove padding for chat space from page when minimized on desktop
  .minimized {
    @media only screen and (min-width: 700px) {
      .collab-workzone {
        padding-right: 5px !important;
        .collab-alert {
          right: 0px;
        }
      }
      ion-spinner {
        right: 5px !important;
      }
    }
  }
  // Hide header for chat space from page when maximized on mobile
  .maximized {
    @media only screen and (max-width: 700px) {
      z-index: 1 !important;
    }
  }
  .toolbar-title {
    @media only screen and (max-width: 700px) {
      font-size: 16px !important;
      .page {
        display: block;
        font-size: 14px !important;
      }
    }
    font-size: 26px;
    .page {
      font-size: 16px;
    }
  }
  .fixed-content {
    background-color: color($colors, secondary);
  }
  .sub-nav {
    padding: 10px 15px;
    position: relative;
    background-color: color($colors, primary);
    .button {
      position: relative;
      width: 100%;
      border: 1px solid #fff;
      color: #fff !important;
      .button-inner {
        justify-content: left;
      }
      img {
        position: absolute;
        top: 15px;
        right: 15px;
        margin: auto;
      }
    }
    img {
      width: 15px;
      margin: 10px;
    }
    .menu {
      padding: 15px 0px 0px;
      margin: auto;
      width: 75%;
      @media only screen and (min-width: 700px) {
        display: table;
      }
      table-layout: fixed;
      div {
        display: table-cell;
      }
      a {
        display: inline-block;
        width: 95%;
        height: 25px;
        margin: auto;
        text-align: center;
        color: #fff;
        border-bottom: 2px solid rgba(255,255,255,0.5);
      }
      .active {
        border-bottom: 2px solid #fff;
      }
    }
    @media only screen and (min-width: 700px) {
      .days-left {
        top: 22.5px !important;
        font-size: 18px;
      }
    }
    .days-left {
      position: absolute;
      top: -10px;
      right: 15px;
      color: #fff;
    }
  }
  .collab-workzone {
    ion-spinner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 50px;
      height: 50px;
    }
    position: relative;
    background-image: url('../assets/constructor_bg.png');
    background-repeat: repeat;
    background-size: cover;
    padding: 5px;
    @media only screen and (max-width: 700px) {
      padding-top: 50px;
      min-height: 300px;
    }
    @media only screen and (min-width: 700px) {
      padding-left: 95px;
      min-height: 500px;
      ion-spinner {
        left: 95px !important;
      }
    }
    .collab-details-menu-desktop {
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      background-color: #fff;
      margin: auto;
      text-align: center;
      width: 90px;
      padding: 10px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      a {
        font-size: 11px;
      }
      a:hover {
        color: #000 !important;
      }
      .inactive {
        img {
          filter: opacity(50%);
        }
        a {
          color: rgba(0,0,0,0.5);
        }
      }
      .menu-item {
        border-bottom: 0.5px solid rgba(0,0,0,0.25);
        img {
          padding: 10px;
          object-fit: contain;
          width: 70px;
          height: 50px;
        }
        img:hover {
          filter: opacity(100%);
        }
      }
      .menu-item:last-of-type {
        border-bottom: none;
        img {
          height: 45px;
        }
      }
    }
    .admin-segment {
      z-index: 1000;
      @media only screen and (max-width: 700px) {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      width: 200px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      border-radius: 2px;
    }
    .chat-fab {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 45px !important;
      height: 45px !important;
      border-radius: 50% !important;
      img {
        object-fit: contain;
        width: 17.5px;
        height: 17.5px;
      }
    }
    .collab-alert {
      @media only screen and (min-width: 700px) {
        position: absolute;
        top: 50%;
        right: 240px;
        left: 0;
        transform: translateY(-65%);
        max-width: 500px;
        margin: 50px auto;
      }
      text-align: center;
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      .note {
        font-weight: 600;
        color: #C3C3C3;
      }
    }
    .collab-image {
      margin: 10px 10px 20px;
      text-align: center;
      .selected-img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        object-fit: contain;
        border: 5px solid color($colors, primary);
      }
      .collab-thumb-wrapper {
        position: relative;
        display: table;
        table-layout: fixed;
        margin: auto;
        .collab-thumb {
          position: relative;
          display: table-cell;
          @media only screen and (max-width: 700px) {
            display: inline-block !important;
          }
          .thumb-img {
            background-color: #fff;
            margin: 10px;
            display: inline-block;
            width: 75px;
            height: 75px;
            object-fit: cover;
          }
          .active {
            border: 5px solid color($colors, primary);
          }
          .delete {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 10px;
            right: 10px;
          }
          .add {
            border: 5px solid color($colors, primary);
            padding: 20px;
          }
        }
      }
      .button {
        max-width: 300px;
      }
    }
    .collab-details-menu-mobile {
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      background-color: #fff;
      margin: -5px auto;
      text-align: center;
      width: 240px;
      @media only screen and (max-width: 700px) {
        display: table;
      }
      table-layout: fixed;
      padding: 10px;
      .inactive {
        img {
          filter: opacity(50%);
        }
      }
      .menu-item {
        display: table-cell;
        margin: 10px;
        border-right: 0.5px solid rgba(0,0,0,0.25);
        img {
          padding: 10px;
          object-fit: contain;
          display: inline-block;
          width: 70px;
          height: 50px;
        }
        img:hover {
          filter: opacity(100%);
        }
      }
      .menu-item:last-of-type {
        border-right: none;
        img {
          height: 45px;
          margin: 0px 0px 2px 5px;
        }
      }
    }
    /* Chat nested comp styles */

    .chat-header {
      z-index: 1001;
      position: absolute;
      right: 15px;
      top: 2%;
      width: 325px;
      height: 60px;
      background-color: #fff;
      .chat-img {
        margin: 15px 12.5px 0px 20px;
        float: left;
        width: 30px;
      }
      .chat-title {
        color: color($colors, primary);
        font-size: 20px;
        margin-top: 15px;
      }
      .chat-minimize {
        position: absolute;
        top: 22.5px;
        right: 15px;
        width: 19px;
      }
    }
    .header-minimized {
      background-color: color($colors, dark);
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      .chat-img {
        filter: brightness(100);
      }
      .chat-title {
        color: #fff;
      }
      .chat-minimize {
        transform: rotate(180deg);
        filter: brightness(100);
      }
      top: calc(100% - 60px) !important;
    }
    .header-maximized {
      @media only screen and (max-width: 700px) {
        z-index: 1001;
        display: block;
        position: fixed;
        top: 0px !important; // 20px on mobile for status bar border
        right: 0px;
        width: 80px;
        overflow: hidden;
        opacity: 0;
      }
    }
    .chat-wrapper {
      z-index: 1000;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
      position: absolute;
      right: 15px;
      bottom: 0;
      width: 325px;
      height: 98%;
    }
    .wrapper-minimized {
      display: none;
    }
    // Full screen chat component on mobile
    .wrapper-maximized {
      @media only screen and (max-width: 700px) {
        box-shadow: none;
        display: block;
        z-index: 1000;
        position: fixed;
        box-sizing: content-box;
        top: 0px;
        left: 0;
        width: 100%;
        // border-top: 20px solid #000;
        height: calc(100%); // - 20px with mobile border
      }
    }
  }
  .project-details {
    padding: 20px;
    .project-details-wrapper {
      @media only screen and (min-width: 700px) {
        max-width: 90%;
      }
      margin: auto;
      h1 {
        font-weight: 700;
        color: #3D3C40;
        margin-bottom: 20px;
      }
      .project-details-box {
        min-height: 200px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
        .project-img {
          @media only screen and (min-width: 700px) {
            float: left;
            margin-bottom: 100px;
          }
          width: 150px;
          height: 150px;
          background-color: #E6E6E6;
          margin-right: 20px;
          margin-bottom: 15px;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            padding: 20px;
            filter: brightness(0.22);
          }
        }
        h1 {
          margin: 0px;
        }
        h4 {
          color: #9C9C9C;
          font-size: 16px;
        }
        p {
          margin: 0px;
        }
      }
    }
  }
}