<ion-header [class.maximized]="maximized">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="homePressed()">
        <img style="width:54px;margin:5px;" src="assets/logo.png">
      </button>
    </ion-buttons>
    <ion-title><span *ngIf="project.client">{{ project.client.firstName }}'s </span><span *ngIf="project">{{ types[project.projectType] }} Project: </span><span class="page">Design Studio</span></ion-title>
    <ion-buttons end>
      <button class="avatar" ion-button menuToggle>
        <img *ngIf="user && user.photoURL" [src]="user.photoURL">
        <img *ngIf="!user || !user.photoURL" src="assets/user-placeholder.png">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-nav">
    <div class="desktop menu">
      <div><a class="active">1. DETAILS</a></div>
      <div><a (click)="selectTabLink('DESIGN')">2. DESIGN</a></div>
      <div><a (click)="selectTabLink('FINAL_DELIVERY')">3. FINAL DELIVERY</a></div>
    </div>
    <button class="mobile" ion-button type="button" (click)="selectTab()" full>
      1. DETAILS
      <img src="assets/down.png">
    </button>
    <div class="days-left">
      {{ project.endDateReadable }}
    </div>
  </div>
</ion-header>

<ion-content [class.minimized]="minimized">
  <div class="collab-workzone">
    <input type="file" accept="image/*" #file (change)="fileChanged($event)" style="visibility:hidden" />
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    <ion-segment *ngIf="user.admin" [(ngModel)]="viewMode" class="admin-segment">
      <ion-segment-button value="CLIENT">
        CLIENT
      </ion-segment-button>
      <ion-segment-button value="DESIGNER">
        DESIGNER
      </ion-segment-button>
    </ion-segment>
    <div class="collab-details-menu-desktop desktop">
      <div class="menu-item" [class.inactive]="view != 'DRAWING'" (click)="selectMenuItem('DRAWING')">
        <img src="assets/drawing.png">
        <a class="desktop">YOUR ROOM</a>
      </div>
      <div class="menu-item" [class.inactive]="view != 'INSPIRATION'" (click)="selectMenuItem('INSPIRATION')">
        <img src="assets/inspiration.png">
        <a class="desktop">INSPIRATION</a>
      </div>
      <div class="menu-item" [class.inactive]="view != 'FURNITURE'" (click)="selectMenuItem('FURNITURE')">
        <img src="assets/furniture.png">
        <a class="desktop">EXISTING FURNITURE</a>
      </div>
    </div>
    <button class="chat-fab mobile" ion-fab (click)="maximizeChat()">
      <img src="assets/chats.png">
    </button>
    <div *ngIf="view == 'DRAWING' && viewMode == 'CLIENT' && !status.UPLOADED_DRAWING && !loading" class="collab-alert">
      <h1>WELCOME TO YOUR DESIGN STUDIO!</h1>
      <p>Please upload pictures of your space and a hand drawn floor plan. The floor plan should be from a birds eye view and include height and width of each wall.</p>
      <p> Please also include dimensions for doors, windows, or any additional items that could affect the design.</p>
      <p class="note">( 2 Picture Limit)</p>
      <button (click)="file.click()" ion-button full type="button">UPLOAD</button>
    </div>
    <div *ngIf="view == 'DRAWING' && viewMode == 'DESIGNER' && !status.UPLOADED_DRAWING && !loading" class="collab-alert">
      <h1>WELCOME TO THE DESIGN STUDIO!</h1>
      <p>Please wait until your client has finished the details phase.</p>
      <p>Feel free to chat with your client to prepare for the design phase and to help them prepare as well.</p>
    </div>
    <div *ngIf="view == 'DRAWING' && status.UPLOADED_DRAWING" class="collab-image">
      <img class="selected-img" [src]="selectedDrawing.url">
      <div class="collab-thumb-wrapper">
        <div class="collab-thumb" *ngFor="let thumb of drawings">
          <img class="thumb-img" [src]="thumb.url" [class.active]="thumb.id == selectedDrawing.id" (click)="selectDrawing(thumb)">
          <img *ngIf="viewMode == 'CLIENT'" class="delete" src="assets/delete.png" (click)="deleteDetail(thumb)">
        </div>
        <div *ngIf="viewMode == 'CLIENT'" class="collab-thumb">
          <img class="thumb-img add" src="assets/add.png" (click)="file.click()">
        </div>
      </div>
      <button *ngIf="viewMode == 'CLIENT' && status.UPLOADED_INSPIRATION && project.projectStatus == 'DETAILS'" (click)="submitToDesigner()" ion-button full type="button">SUBMIT TO DESIGNER</button>
    </div>
    <div *ngIf="view == 'INSPIRATION' && viewMode == 'CLIENT' && !status.UPLOADED_INSPIRATION" class="collab-alert">
      <p>Upload inspiration images that you would like your designer to reference for your space.</p>
      <button (click)="file.click()" ion-button full type="button">UPLOAD</button>
    </div>
    <div *ngIf="view == 'INSPIRATION' && viewMode == 'DESIGNER' && !status.UPLOADED_INSPIRATION" class="collab-alert">
      <p>HANG TIGHT</p>
      <p>Your client has not uploaded inspiration images yet.</p>
    </div>
    <div *ngIf="view == 'INSPIRATION' && status.UPLOADED_INSPIRATION" class="collab-image">
      <img class="selected-img" [src]="selectedInspiration.url">
      <div class="collab-thumb-wrapper">
        <div class="collab-thumb" *ngFor="let thumb of inspirations">
          <img class="thumb-img" [src]="thumb.url" [class.active]="thumb.id == selectedInspiration.id" (click)="selectInspiration(thumb)">
          <img *ngIf="viewMode == 'CLIENT'" class="delete" src="assets/delete.png" (click)="deleteDetail(thumb)">
        </div>
        <div *ngIf="viewMode == 'CLIENT'" class="collab-thumb">
          <img class="thumb-img  add" src="assets/add.png" (click)="file.click()">
        </div>
      </div>
      <button *ngIf="viewMode == 'CLIENT' && status.UPLOADED_DRAWING && project.projectStatus == 'DETAILS'" (click)="submitToDesigner()" ion-button full type="button">SUBMIT TO DESIGNER</button>
    </div>
    <div *ngIf="view == 'FURNITURE' && viewMode == 'CLIENT' && !status.UPLOADED_FURNITURE" class="collab-alert">
      <p>Upload pictures and note measurements of any existing furniture that you would like the designer to incorporate into their designs.</p>
      <button (click)="file.click()" ion-button full type="button">UPLOAD</button>
    </div>
    <div *ngIf="view == 'FURNITURE' && viewMode == 'DESIGNER' && !status.UPLOADED_FURNITURE" class="collab-alert">
      <p>HANG TIGHT</p>
      <p>Your client has not uploaded existing furniture images yet.</p>
    </div>
    <div *ngIf="view == 'FURNITURE' && status.UPLOADED_FURNITURE" class="collab-image">
      <img class="selected-img" [src]="selectedFurniture.url">
      <div class="collab-thumb-wrapper">
        <div class="collab-thumb" *ngFor="let thumb of furnitures">
          <img class="thumb-img" [src]="thumb.url" [class.active]="thumb.id == selectedFurniture.id" (click)="selectFurniture(thumb)">
          <img *ngIf="viewMode == 'CLIENT'" class="delete" src="assets/delete.png" (click)="deleteDetail(thumb)">
        </div>
        <div *ngIf="viewMode == 'CLIENT'" class="collab-thumb">
          <img class="thumb-img add" src="assets/add.png" (click)="file.click()">
        </div>
      </div>
      <button *ngIf="viewMode == 'CLIENT' && status.UPLOADED_DRAWING && status.UPLOADED_INSPIRATION && project.projectStatus == 'DETAILS'" (click)="submitToDesigner()" ion-button full type="button">SUBMIT TO DESIGNER</button>
    </div>
    <div class="collab-details-menu-mobile mobile">
      <div class="menu-item" [class.inactive]="view != 'DRAWING'" (click)="selectMenuItem('DRAWING')">
        <img src="assets/drawing.png">
      </div>
      <div class="menu-item" [class.inactive]="view != 'INSPIRATION'" (click)="selectMenuItem('INSPIRATION')">
        <img src="assets/inspiration.png">
      </div>
      <div class="menu-item" [class.inactive]="view != 'FURNITURE'" (click)="selectMenuItem('FURNITURE')">
        <img src="assets/furniture.png">
      </div>
    </div>
    <div class="chat-header desktop" [class.header-minimized]="minimized" [class.header-maximized]="maximized" (click)="chatToggled()">
      <img class="chat-img" src="assets/chat.png">
      <h2 class="chat-title">Chat</h2>
      <img class="chat-minimize" src="assets/down-arrow.png">
    </div>
    <page-chat [project]="project" [class.wrapper-minimized]="minimized" [class.wrapper-maximized]="maximized" class="chat-wrapper desktop"></page-chat>
  </div>
  <div class="project-details">
    <div class="project-details-wrapper">
      <h1>Project Details</h1>
      <div *ngIf="project" class="project-details-box">
        <div class="project-img">
          <img src="assets/{{ project.projectType }}.png">
        </div>
        <h1>{{ types[project.projectType] }}</h1>
        <h1 *ngIf="answers[4]">{{ answers[4].answer }}</h1>
        <h4>Project Notes</h4>
        <p *ngIf="project.style">Style: {{ project.style }}</p>
        <p *ngIf="answers[0]">ZIP Code: {{ answers[0].answer }}</p>
        <p *ngIf="answers[1]">Share your space with: {{ answers[1].answer }}</p>
        <p *ngIf="answers[2]">Pet friendly options: {{ answers[2].answer }}</p>
        <p *ngIf="answers[3]">Limited access: {{ answers[3].answer }}</p>
      </div>
    </div>
  </div>
</ion-content>