<ion-header [hidden]="maximized">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="homePressed()">
        <img style="width:54px;margin:5px;" src="assets/logo.png">
      </button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-buttons end>
      <button class="dropdown" ion-button (click)="toggleDropdown()">
        <img *ngIf="user" [src]="user.photoURL">
        <img *ngIf="!user" src="assets/tmh.png">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-nav">
    <div class="desktop menu">
      <div><a class="active">1. DETAILS</a></div>
      <div><a (click)="selectedTabLink('DESIGN')">2. DESIGN</a></div>
      <div><a (click)="selectedTabLink('FINAL_DELIVERY')">3. FINAL DELIVERY</a></div>
    </div>
    <button class="mobile" ion-button type="button" (click)="selectTab()" full>
      1. DETAILS
      <img src="assets/down.png">
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="collab-workzone" [class.maximized]="minimized">
    <div class="collab-details-menu-desktop desktop">
      <div class="menu-item" [class.inactive]="view != 'DRAWING'" (click)="selectMenuItem('DRAWING')">
        <img src="assets/drawing.png">
        <a class="desktop">YOUR ROOM</a>
      </div>
      <div class="menu-item" [class.inactive]="view != 'INSPIRATION'" (click)="selectMenuItem('INSPIRATION')">
        <img src="assets/inspiration.png">
        <a class="desktop">INSPIRATION</a>
      </div>
      <div class="menu-item" [class.inactive]="view != 'FURNITURE'" (click)="selectMenuItem('FURNITURE')">
        <img src="assets/furniture.png">
        <a class="desktop">EXISTING FURNITURE</a>
      </div>
    </div>
    <button class="chat-fab mobile" ion-fab (click)="maximizeChat()">
      <img src="assets/chats.png">
    </button>
    <div *ngIf="view == 'DRAWING' && !status['UPLOADED_DRAWING']" class="collab-alert">
      <h1>WELCOME TO YOUR DESIGN STUDIO!</h1>
      <p>Please upload pictures of your space and a hand drawn floor plan. The floor plan should be from a birds eye view and include height and width of each wall.</p>
      <p> Please also include dimensions for doors, windows, or any additional items that could affect the design.</p>
      <p class="note">( 2 Picture Limit)</p>
      <button (click)="uploadPressed()" ion-button full type="button">UPLOAD</button>
    </div>
    <div *ngIf="view == 'DRAWING' && status['UPLOADED_DRAWING']" class="collab-image">
      <img class="selected-img" [src]="selectedDrawing.url">
      <div class="collab-thumb-wrapper">
        <div class="collab-thumb" *ngFor="let thumb of drawings">
          <img class="thumb-img" [src]="thumb.url" [class.active]="thumb.id == selectedDrawing.id" (click)="selectDrawing(thumb)">
          <img class="delete" src="assets/delete.png" (click)="deleteDrawing(thumb)">
        </div>
      </div>
      <button (click)="submitToDesigner()" ion-button full type="button">SUBMIT TO DESIGNER</button>
    </div>
    <div class="collab-details-menu-mobile mobile">
      <div class="menu-item" [class.inactive]="view != 'DRAWING'" (click)="selectMenuItem('DRAWING')">
        <img src="assets/drawing.png">
      </div>
      <div class="menu-item" [class.inactive]="view != 'INSPIRATION'" (click)="selectMenuItem('INSPIRATION')">
        <img src="assets/inspiration.png">
      </div>
      <div class="menu-item" [class.inactive]="view != 'FURNITURE'" (click)="selectMenuItem('FURNITURE')">
        <img src="assets/furniture.png">
      </div>
    </div>
    <div class="chat-header desktop" [class.header-minimized]="minimized" [class.header-maximized]="maximized" (click)="chatToggled()">
      <img class="chat-img" src="assets/chat.png">
      <h2 class="chat-title">Chat</h2>
      <img class="chat-minimize" src="assets/down-arrow.png">
    </div>
    <page-chat [project]="project" [class.wrapper-minimized]="minimized" [class.wrapper-maximized]="maximized" class="chat-wrapper desktop"></page-chat>
  </div>
  <div class="project-details">
    <div class="project-details-wrapper">
      <h1>Project Details</h1>
      <div *ngIf="project" class="project-details-box">
        <div class="project-img">
          <img src="assets/{{ project.projectType }}.png">
        </div>
        <h1>{{ types[project.projectType] }}</h1>
        <h1>$2k or less</h1>
        <h4>Project Notes</h4>
        <p>Style: Industrial & Scandinavian/Transitional, Modern, Scandinavian, Modern</p>
        <p>ZIP Code: 90066</p>
        <p>Share your space with: family</p>
        <p>Pet friendly options: yes</p>
        <p>Pet friendly options: yes</p>
        <p>Limited access: yes</p>
      </div>
    </div>
  </div>
</ion-content>