page-details {
  .sub-nav {
    padding: 10px 15px;
    position: relative;
    background-color: color($colors, primary);
    .button {
      position: relative;
      width: 100%;
      border: 1px solid #fff;
      color: #fff !important;
      .button-inner {
        justify-content: left;
      }
      img {
        position: absolute;
        top: 15px;
        right: 15px;
        margin: auto;
      }
    }
    img {
      width: 15px;
      margin: 10px;
    }
  }
  .collab-workzone {
    background-image: url('../assets/constructor_bg.png');
    background-repeat: repeat;
    background-size: cover;
    .chat-fab {
      float: right;
      width: 45px !important;
      height: 45px !important;
      border-radius: 50% !important;
      img {
        object-fit: contain;
        width: 17.5px;
        height: 17.5px;
      }
    }

  }
}
