<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="homePressed()">
        <img style="width:54px;margin:5px;" src="assets/logo.png">
      </button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-buttons end>
      <button class="dropdown" ion-button (click)="toggleDropdown()">
        <img *ngIf="user" [src]="user.photoURL">
        <img *ngIf="!user" src="assets/tmh.png">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-nav">
    <button ion-button type="button" (click)="selectTab()" full>
      1. DETAILS
      <img src="assets/down.png">
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="collab-workzone">
    <button class="chat-fab" ion-fab (click)="chatPressed()">
      <img src="assets/chats.png">
    </button>
    <div class="collab-alert">
      <h1>WELCOME TO YOUR DESIGN STUDIO!</h1>
      <p>Please upload pictures of your space and a hand drawn floor plan. The floor plan should be from a birds eye view and include height and width of each wall.</p>
      <p> Please also include dimensions for doors, windows, or any dditional items that could affect the design.</p>
      <p class="note">( 2 Picture Limit)</p>
      <button (click)="uploadPressed()" ion-button full type="button">UPLOAD</button>
    </div>
  </div>
  <div class="project-details">
    <h1>Project Details</h1>
    <div *ngIf="project" class="project-details-box">
      <div class="project-img">
        <img src="assets/{{ project.projectType }}.png">
      </div>
      <h1>{{ types[project.projectType] }}</h1>
      <h1></h1>
    </div>
  </div>
</ion-content>